.bg-div4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon13 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais3 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito3 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos3,
.politicas-de-privacidade-ter3 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos3 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon3 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista3,
.envie-um-e-mail3,
.ficou-com-dvidas3,
.voltar-ao-incio3 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail3,
.ficou-com-dvidas3,
.voltar-ao-incio3 {
  top: 57.14%;
}
.ficou-com-dvidas3,
.voltar-ao-incio3 {
  top: 83.81%;
}
.ficou-com-dvidas3 {
  top: 0;
  color: #fff;
}
.dvidas-div3 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div3,
.linha-industrial-div3 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div3 {
  top: 77.92%;
}
.produtos-div10 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc3 {
  margin: 0;
}
.div20,
.div21,
.div22,
.nossa-sede-div7,
.rua-mal-castelo-branco-24774 {
  position: absolute;
  top: 23.88%;
  left: 0.86%;
  font-weight: 500;
  display: inline-block;
}
.div20,
.div21,
.div22,
.nossa-sede-div7 {
  top: 52.99%;
}
.div21,
.div22,
.nossa-sede-div7 {
  top: 70.9%;
  left: 0;
}
.div22,
.nossa-sede-div7 {
  top: 88.81%;
}
.nossa-sede-div7 {
  top: 0;
  left: 0.86%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div6 {
  position: absolute;
  height: 26.33%;
  width: 16.11%;
  top: 11.98%;
  right: 56.6%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon4 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div7 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon3 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div76 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div6 {
  position: absolute;
  top: 1274px;
  left: 0;
  width: 1440px;
  height: 509px;
  font-family: Inter;
}
.bg-header10 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header11,
.bg-header12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header11 {
  height: 1px;
  display: none;
}
.bg-header12 {
  height: 73px;
}
.nauber-logo-1-icon3 {
  position: absolute;
  top: 22px;
  left: 135px;
  width: 170px;
  height: 33px;
  object-fit: cover;
  display: none;
}
.logo-div3,
.logo-nauber-13 {
  position: absolute;
  width: 170px;
  height: 47.02px;
}
.logo-nauber-13 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.logo-div3 {
  top: 14px;
  left: 135px;
}
.home-b3,
.vector-icon23 {
  position: absolute;
  top: 100.5px;
  left: 777px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b3 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b3,
.empresa-icon3,
.home-div4 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b3,
.empresa-icon3 {
  top: 0;
  width: 20px;
}
.empresa-b3 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div3 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.box-icon3,
.produtos-b3 {
  position: absolute;
  top: 0;
  height: 17px;
}
.produtos-b3 {
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon3 {
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.assistncias-b4,
.produtos-div12 {
  position: absolute;
  top: 7px;
  left: 280px;
  width: 85.63px;
  height: 17px;
}
.assistncias-b4 {
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
}
.assistencia-div3 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b3 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div4 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
  color: #fae013;
}
.contato-b4 {
  position: absolute;
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div4,
.login-b3 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
}
.login-b3 {
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon3,
.login-div3 {
  position: absolute;
  top: 0;
  height: 24px;
}
.logim-icon3 {
  left: 0;
  width: 24px;
  overflow: hidden;
}
.login-div3 {
  left: 972px;
  width: 80px;
}
.menu-div3,
.vector-icon24 {
  position: absolute;
  top: 91px;
  left: 204px;
  width: 1052px;
  height: 25px;
}
.vector-icon24 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon3,
.flag-brasil-1-icon3,
.flag-espanha-1-icon3,
.flag-eua-1-icon3 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon3,
.flag-espanha-1-icon3,
.flag-eua-1-icon3 {
  left: 31.36px;
}
.flag-arabia-1-icon3,
.flag-eua-1-icon3 {
  left: 66.72px;
}
.flag-arabia-1-icon3 {
  left: 102.08px;
}
.flags-div3,
.line-div8 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div8 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-13,
.logo-revenda-pro-13 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-13 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema7 {
  font-weight: 500;
}
.nauber-pro4 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n3 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  color: #000;
  display: inline-block;
  font-size: 7.59px;
  font-family: Inter;
}
.rectangle-div77 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon2 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div3,
.seach-div3 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div3 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 18px;
}
.vector-icon25,
.vector-icon26 {
  position: absolute;
  top: 22px;
  left: 4px;
  width: 1444px;
  height: 12px;
}
.vector-icon26 {
  top: 0;
  width: 536px;
  height: 63px;
}
.catlogos-virtuais-b4 {
  position: absolute;
  top: 12px;
  left: 138px;
  display: inline-block;
}
.headline-div2 {
  position: absolute;
  top: 148px;
  left: -4px;
  width: 1444px;
  height: 63px;
  font-size: 47.04px;
}
.rectangle-div78,
.rectangle-div79 {
  position: absolute;
  top: 65px;
  left: 0;
  background-color: #d9d9d9;
  width: 270px;
  height: 262px;
}
.rectangle-div79 {
  top: 0;
  left: 13px;
  background-color: #3bb919;
  width: 243px;
  height: 57px;
}
.linha-varejo-b {
  position: absolute;
  top: 12px;
  left: 58px;
  display: inline-block;
}
.linha-varejo-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 327px;
  text-align: left;
}
.rectangle-div81 {
  position: absolute;
  top: 0;
  left: 13px;
  background-color: #031141;
  width: 243px;
  height: 57px;
}
.linha-completa-b {
  position: absolute;
  top: 12px;
  left: 40px;
  display: inline-block;
}
.flag-brasil-2-icon,
.flag-espanha-2-icon,
.flag-eua-2-icon {
  position: absolute;
  top: 0;
  left: -8.15px;
  width: 73.19px;
  height: 46.26px;
  object-fit: cover;
}
.flag-espanha-2-icon,
.flag-eua-2-icon {
  left: 63.91px;
}
.flag-eua-2-icon {
  left: 135.96px;
}
.bandeiras-div {
  position: absolute;
  top: 341.93px;
  left: 40px;
  width: 201px;
  height: 29.96px;
}
.linha-varejo-div1,
.rectangle-div83 {
  position: absolute;
  top: 430px;
  left: 0;
  width: 270px;
  height: 371.89px;
}
.rectangle-div83 {
  top: 0;
  left: 13px;
  background-color: #06592c;
  width: 243px;
  height: 57px;
}
.linha-tcnica-b {
  position: absolute;
  top: 12px;
  left: 49px;
  display: inline-block;
}
.linha-tcnica-div,
.rectangle-div85 {
  position: absolute;
  top: 0;
  left: 350px;
  width: 270px;
  height: 327px;
}
.rectangle-div85 {
  left: 13px;
  background-color: #141515;
  width: 243px;
  height: 57px;
}
.linha-industrial-b {
  position: absolute;
  top: 12px;
  left: 30px;
  display: inline-block;
}
.linha-industrial-div4 {
  position: absolute;
  top: 0;
  left: 700px;
  width: 270px;
  height: 327px;
  color: #fbc002;
}
.catlogos-div5 {
  position: absolute;
  top: 302px;
  left: 235px;
  width: 970px;
  height: 801.89px;
  text-align: center;
  font-size: 38.4px;
}
.busque-aqui-seu-produto3 {
  position: absolute;
  top: 29px;
  left: 426px;
  font-family: Inter;
  color: #7a7a7a;
  display: inline-block;
}
.catlogos-div3 {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  height: 1783px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Roboto;
}
