.bg-div15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon36 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais14 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito14 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos14,
.politicas-de-privacidade-ter14 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos14 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon14 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista14,
.envie-um-e-mail14,
.ficou-com-dvidas14,
.voltar-ao-incio14 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail14,
.ficou-com-dvidas14,
.voltar-ao-incio14 {
  top: 57.14%;
}
.ficou-com-dvidas14,
.voltar-ao-incio14 {
  top: 83.81%;
}
.ficou-com-dvidas14 {
  top: 0;
  color: #fff;
}
.dvidas-div14 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div14,
.linha-industrial-div15 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div15 {
  top: 77.92%;
}
.produtos-div44 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo14 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc14 {
  margin: 0;
}
.div65,
.div66,
.div67,
.nossa-sede-div29,
.rua-mal-castelo-branco-247715 {
  position: absolute;
  top: 23.88%;
  left: 0.86%;
  font-weight: 500;
  display: inline-block;
}
.div65,
.div66,
.div67,
.nossa-sede-div29 {
  top: 52.99%;
}
.div66,
.div67,
.nossa-sede-div29 {
  top: 70.9%;
  left: 0;
}
.div67,
.nossa-sede-div29 {
  top: 88.81%;
}
.nossa-sede-div29 {
  top: 0;
  left: 0.86%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div28 {
  position: absolute;
  height: 26.33%;
  width: 16.11%;
  top: 11.98%;
  right: 56.6%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon15 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div35 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon14 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div299 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div29 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div28 {
  position: absolute;
  top: 852px;
  left: 0;
  width: 1440px;
  height: 509px;
  color: #fff;
}
.tipos-de-ferramentas1 {
  position: absolute;
  top: 35.91px;
  left: 0;
  letter-spacing: 0.3em;
  display: inline-block;
  width: 356px;
  height: 29.72px;
}
.rectangle-div300 {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: #007521;
  width: 16px;
  height: 19.81px;
}
.tpicos-feiras-div {
  position: absolute;
  top: 71.44px;
  left: 137px;
  width: 356px;
  height: 65.62px;
  display: none;
}
.tipos-de-ferramentas2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div301 {
  position: absolute;
  top: -29px;
  left: 2px;
  background-color: #007521;
  width: 16px;
  height: 16px;
  display: none;
}
.line-div36,
.line-icon7 {
  position: absolute;
  top: 38px;
}
.line-div36 {
  left: 0;
  border-top: 2px solid #eaeaea;
  box-sizing: border-box;
  width: 1172px;
  height: 2px;
}
.line-icon7 {
  left: 1px;
  width: 118px;
  height: 0;
}
.tpico-lanamento-div7 {
  position: absolute;
  top: 99px;
  left: 135px;
  width: 1171px;
  height: 39px;
  display: none;
}
.vector-icon138 {
  position: absolute;
  top: 0;
  left: 0;
  width: 805px;
  height: 779px;
  object-fit: cover;
}
.rectangle-div302 {
  position: absolute;
  top: 616.51px;
  left: 205px;
  background-color: #d9d9d9;
  width: 466px;
  height: 77.99px;
  display: none;
}
.vector-icon139 {
  position: absolute;
  top: 0;
  left: 635px;
  width: 805px;
  height: 779px;
  object-fit: cover;
}
.vector-icon140 {
  position: absolute;
  top: 537.5px;
  left: 671px;
  width: 465.5px;
  height: 78px;
}
.linha-industrial-b1 {
  position: absolute;
  top: 555px;
  left: 756px;
  font-size: 48px;
  display: inline-block;
  font-family: Roboto;
  color: #fbbf00;
  opacity: 0.3;
}
.vector-icon141 {
  position: absolute;
  top: 537.5px;
  left: 223px;
  width: 465.5px;
  height: 78px;
}
.construo-civil-b {
  position: absolute;
  top: 555px;
  left: 312px;
  font-size: 48px;
  display: inline-block;
  font-family: Roboto;
  color: #fff;
}
.tipos-de-ferramentas {
  position: absolute;
  top: 73px;
  left: 0;
  width: 1440px;
  height: 779px;
  font-size: 20px;
}
.bg-header43 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header44,
.bg-header45 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header44 {
  height: 1px;
  display: none;
}
.bg-header45 {
  height: 73px;
}
.logo-nauber-114,
.nauber-logo-1-icon14 {
  position: absolute;
  width: 170px;
  object-fit: cover;
}
.nauber-logo-1-icon14 {
  top: 22px;
  left: 135px;
  height: 33px;
  display: none;
}
.logo-nauber-114 {
  top: 0;
  left: 0;
  height: 47.02px;
}
.logo-div14,
.vector-icon142 {
  position: absolute;
  top: 14px;
  left: 135px;
  width: 170px;
  height: 47.02px;
}
.vector-icon142 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon14,
.flag-brasil-1-icon14,
.flag-espanha-1-icon14,
.flag-eua-1-icon14 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon14,
.flag-espanha-1-icon14,
.flag-eua-1-icon14 {
  left: 31.36px;
}
.flag-arabia-1-icon14,
.flag-eua-1-icon14 {
  left: 66.72px;
}
.flag-arabia-1-icon14 {
  left: 102.08px;
}
.flags-div14,
.line-div37 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div37 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-114,
.logo-revenda-pro-114 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-114 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema29 {
  font-weight: 500;
}
.nauber-pro16 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n14 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  display: inline-block;
}
.home-b14,
.vector-icon143 {
  position: absolute;
  top: 96.5px;
  left: 793px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b14 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b14,
.empresa-icon14,
.home-div15 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b14,
.empresa-icon14 {
  top: 0;
  width: 20px;
}
.empresa-b14 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div14 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.produtos-b14 {
  top: 0;
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon14,
.produtos-b14,
.produtos-div46 {
  position: absolute;
  height: 17px;
}
.box-icon14 {
  top: 0;
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.produtos-div46 {
  top: 7px;
  left: 280px;
  width: 85.63px;
  color: #fae013;
}
.assistncias-b15 {
  position: absolute;
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
  height: 17px;
}
.assistencia-div14 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b15 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div16,
.contato-b15 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
}
.contato-b15 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div15,
.login-b14 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
}
.login-b14 {
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.login-div14,
.menu-div15 {
  position: absolute;
  top: 0;
  left: 972px;
  width: 80px;
  height: 24px;
}
.menu-div15 {
  top: 87px;
  left: 220px;
  width: 1052px;
  height: 25px;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.rectangle-div303 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon13 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div14,
.seach-div14 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div14 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 7.59px;
}
.busque-aqui-seu-produto7 {
  position: absolute;
  top: 29px;
  left: 426px;
  color: #7a7a7a;
  display: inline-block;
}
.categoria-div {
  position: relative;
  width: 100%;
  height: 1361px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #000;
  font-family: Inter;
}
