.bg-div13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon34 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais12 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito12 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos12,
.politicas-de-privacidade-ter12 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos12 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon12 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista12,
.envie-um-e-mail12,
.ficou-com-dvidas12,
.voltar-ao-incio12 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail12,
.ficou-com-dvidas12,
.voltar-ao-incio12 {
  top: 57.14%;
}
.ficou-com-dvidas12,
.voltar-ao-incio12 {
  top: 83.81%;
}
.ficou-com-dvidas12 {
  top: 0;
  color: #fff;
}
.dvidas-div12 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div12,
.linha-industrial-div13 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div13 {
  top: 77.92%;
}
.produtos-div38 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo12 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc12 {
  margin: 0;
}
.div59,
.div60,
.div61,
.nossa-sede-div25,
.rua-mal-castelo-branco-247713 {
  position: absolute;
  top: 23.88%;
  left: 0.86%;
  font-weight: 500;
  display: inline-block;
}
.div59,
.div60,
.div61,
.nossa-sede-div25 {
  top: 52.99%;
}
.div60,
.div61,
.nossa-sede-div25 {
  top: 70.9%;
  left: 0;
}
.div61,
.nossa-sede-div25 {
  top: 88.81%;
}
.nossa-sede-div25 {
  top: 0;
  left: 0.86%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div24 {
  position: absolute;
  height: 26.33%;
  width: 16.11%;
  top: 11.98%;
  right: 56.6%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon13 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div31 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon12 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div295 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div25 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div24 {
  position: absolute;
  top: 1545px;
  left: 0;
  width: 1440px;
  height: 509px;
}
.vector-icon68,
.vector-icon69,
.vector-icon70 {
  position: absolute;
  top: 0;
  left: 775px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon69,
.vector-icon70 {
  left: 384px;
}
.vector-icon70 {
  left: 0;
}
.vector-icon71 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.27px;
  height: 43px;
}
.projetoras-de-textura1 {
  position: absolute;
  top: 7px;
  left: 62.45px;
  display: inline-block;
  opacity: 0.5;
}
.projetoras-de-textura {
  position: absolute;
  top: 209px;
  left: 391.55px;
  width: 388.27px;
  height: 43px;
}
.equipamentos-airless-div {
  position: absolute;
  top: 7px;
  left: 68.45px;
  display: inline-block;
  opacity: 0.5;
}
.projetoras-de-textura2 {
  position: absolute;
  top: 209px;
  left: 7.55px;
  width: 388.27px;
  height: 43px;
}
.demarcao-viria-div {
  position: absolute;
  top: 7px;
  left: 80.45px;
  display: inline-block;
  opacity: 0.5;
}
.projetoras-de-textura3 {
  position: absolute;
  top: 209px;
  left: 782.55px;
  width: 388.27px;
  height: 43px;
}
.quadro-linha-1,
.vector-icon74 {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1230px;
  height: 279px;
}
.vector-icon74 {
  top: 369px;
  left: 881px;
  width: 455px;
  object-fit: cover;
  display: none;
}
.vector-icon75,
.vector-icon76,
.vector-icon77 {
  position: absolute;
  top: 0;
  left: -455px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon76,
.vector-icon77 {
  left: -846px;
}
.vector-icon77 {
  left: -1231px;
}
.vector-icon78 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.92px;
  height: 43px;
}
.aspiradores-div2 {
  position: absolute;
  top: 7px;
  left: 121.85px;
  display: inline-block;
}
.aspiradores-div1 {
  position: absolute;
  top: 208px;
  left: -787.85px;
  width: 388.92px;
  height: 43px;
  text-align: left;
}
.vector-icon79 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.28px;
  height: 43px;
}
.lixadeiras-div1 {
  position: absolute;
  top: 7px;
  left: 135.1px;
  display: inline-block;
  opacity: 0.5;
}
.aspiradores-div3 {
  position: absolute;
  top: 208px;
  left: -1172.1px;
  width: 388.28px;
  height: 43px;
}
.misturadores-div1 {
  position: absolute;
  top: 7px;
  left: 112.85px;
  display: inline-block;
  opacity: 0.5;
}
.aspiradores-div4,
.quadro-linha-2 {
  position: absolute;
  top: 208px;
  left: -396.85px;
  width: 388.92px;
  height: 43px;
}
.quadro-linha-2 {
  top: 294px;
  left: 1237px;
  width: 1231px;
  height: 279px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vector-icon81,
.vector-icon83,
.vector-icon84 {
  position: absolute;
  top: 0;
  left: 391px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon83,
.vector-icon84 {
  left: 782px;
}
.vector-icon84 {
  top: 663px;
  left: 0;
  width: 561px;
  display: none;
}
.vector-icon85 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.29px;
  height: 43px;
}
.compressor-div1 {
  position: absolute;
  top: 7px;
  left: 124.39px;
  display: inline-block;
}
.compressor-div {
  position: absolute;
  top: 209px;
  left: 398.61px;
  width: 388.29px;
  height: 43px;
  color: rgba(239, 182, 0, 0.5);
}
.vector-icon86 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.35px;
  height: 43px;
}
.fresadora-div {
  position: absolute;
  top: 7px;
  left: 132.45px;
  display: inline-block;
  opacity: 0.5;
}
.compressor-div2,
.vector-icon87 {
  position: absolute;
  top: 209px;
  left: 7.55px;
  width: 388.35px;
  height: 43px;
}
.vector-icon87 {
  top: 0;
  left: 0;
  width: 388.21px;
}
.desempenadeiras-div {
  position: absolute;
  top: 7px;
  left: 93.39px;
  display: inline-block;
  opacity: 0.5;
}
.compressor-div3,
.quadro-linha-3 {
  position: absolute;
  top: 209px;
  left: 789.61px;
  width: 388.21px;
  height: 43px;
}
.quadro-linha-3 {
  top: 588px;
  left: 0;
  width: 1237px;
  height: 279px;
}
.bicos-airless-div1 {
  position: absolute;
  top: 7px;
  left: 120.13px;
  display: inline-block;
}
.bicos-airless-div,
.vector-icon93 {
  position: absolute;
  top: 207px;
  left: -788.13px;
  width: 388.92px;
  height: 43px;
}
.vector-icon93 {
  top: 377px;
  left: 881px;
  width: 455px;
  height: 279px;
  object-fit: cover;
  display: none;
}
.vector-icon94 {
  position: absolute;
  top: 207px;
  left: 57.87px;
  width: 388.92px;
  height: 43px;
}
.pistolas-airless-div {
  position: absolute;
  top: 214px;
  left: 166px;
  display: inline-block;
}
.bicos-airless-div2 {
  position: absolute;
  top: 0;
  left: -1237px;
  width: 1237px;
  height: 279px;
}
.filmes-de-mascaramento {
  position: absolute;
  top: 7px;
  left: 48.14px;
  display: inline-block;
}
.bicos-airless-div3,
.quadro-linha-4 {
  position: absolute;
  top: 207px;
  left: -397.14px;
  width: 388.92px;
  height: 43px;
}
.quadro-linha-4 {
  top: 882px;
  left: 1237px;
  width: 1237px;
  height: 279px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  color: rgba(239, 182, 0, 0.5);
}
.vector-icon97 {
  position: absolute;
  top: 1243px;
  left: 99px;
  width: 455px;
  height: 279px;
  object-fit: cover;
  display: none;
}
.vector-icon98 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.27px;
  height: 43px;
  opacity: 0.3;
}
.group-div26,
.quadro-linha-5 {
  position: absolute;
  top: 1176px;
  left: 0;
  width: 455px;
  height: 279px;
}
.group-div26 {
  top: 75px;
  left: 99px;
  width: 1237px;
  height: 1455px;
  text-align: center;
  font-size: 36px;
  color: #efb600;
  font-family: "Bebas Neue";
}
.bg-header37 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header38,
.bg-header39 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header38 {
  height: 1px;
  display: none;
}
.bg-header39 {
  height: 73px;
}
.nauber-logo-1-icon12 {
  position: absolute;
  top: 22px;
  left: 135px;
  width: 170px;
  height: 33px;
  object-fit: cover;
  display: none;
}
.logo-div12,
.logo-nauber-112 {
  position: absolute;
  width: 170px;
  height: 47.02px;
}
.logo-nauber-112 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.logo-div12 {
  top: 14px;
  left: 135px;
}
.home-b12,
.vector-icon99 {
  position: absolute;
  top: 99.5px;
  left: 778px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b12 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b12,
.empresa-icon12,
.home-div13 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b12,
.empresa-icon12 {
  top: 0;
  width: 20px;
}
.empresa-b12 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div12 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.produtos-b12 {
  top: 0;
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon12,
.produtos-b12,
.produtos-div40 {
  position: absolute;
  height: 17px;
}
.box-icon12 {
  top: 0;
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.produtos-div40 {
  top: 7px;
  left: 280px;
  width: 85.63px;
  color: #fae013;
}
.assistncias-b13 {
  position: absolute;
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
  height: 17px;
}
.assistencia-div12 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b13 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div14,
.contato-b13 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
}
.contato-b13 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div13,
.login-b12 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
}
.login-b12 {
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon12,
.login-div12 {
  position: absolute;
  top: 0;
  height: 24px;
}
.logim-icon12 {
  left: 0;
  width: 24px;
  overflow: hidden;
}
.login-div12 {
  left: 972px;
  width: 80px;
}
.menu-div13,
.vector-icon100 {
  position: absolute;
  top: 90px;
  left: 205px;
  width: 1052px;
  height: 25px;
}
.vector-icon100 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon12,
.flag-brasil-1-icon12,
.flag-espanha-1-icon12,
.flag-eua-1-icon12 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon12,
.flag-espanha-1-icon12,
.flag-eua-1-icon12 {
  left: 31.36px;
}
.flag-arabia-1-icon12,
.flag-eua-1-icon12 {
  left: 66.72px;
}
.flag-arabia-1-icon12 {
  left: 102.08px;
}
.flags-div12,
.line-div32 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div32 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-112,
.logo-revenda-pro-112 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-112 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema25 {
  font-weight: 500;
}
.nauber-pro14 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n12 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  color: #000;
  display: inline-block;
  font-size: 7.59px;
  font-family: Inter;
}
.rectangle-div296 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon11 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div12,
.seach-div12 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div12 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 18px;
  font-family: Roboto;
}
.busque-aqui-seu-produto5 {
  position: absolute;
  top: 29px;
  left: 421px;
  color: #7a7a7a;
  display: inline-block;
}
.categorias-de-produtos {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2054px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
}
