.bg-div12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon33 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais11 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito11 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos11,
.politicas-de-privacidade-ter11 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos11 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon11 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista11,
.envie-um-e-mail11,
.ficou-com-dvidas11,
.voltar-ao-incio11 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail11,
.ficou-com-dvidas11,
.voltar-ao-incio11 {
  top: 57.14%;
}
.ficou-com-dvidas11,
.voltar-ao-incio11 {
  top: 83.81%;
}
.ficou-com-dvidas11 {
  top: 0;
  color: #fff;
}
.dvidas-div11 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div11,
.linha-industrial-div12 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div12 {
  top: 77.92%;
}
.produtos-div35 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo11 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc11 {
  margin: 0;
}
.div56,
.div57,
.div58,
.nossa-sede-div23,
.rua-mal-castelo-branco-247712 {
  position: absolute;
  top: 23.88%;
  left: 0.86%;
  font-weight: 500;
  display: inline-block;
}
.div56,
.div57,
.div58,
.nossa-sede-div23 {
  top: 52.99%;
}
.div57,
.div58,
.nossa-sede-div23 {
  top: 70.9%;
  left: 0;
}
.div58,
.nossa-sede-div23 {
  top: 88.81%;
}
.nossa-sede-div23 {
  top: 0;
  left: 0.86%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div22 {
  position: absolute;
  height: 26.33%;
  width: 16.11%;
  top: 11.98%;
  right: 56.6%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon12 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div29 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon11 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div271 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div23 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div22 {
  position: absolute;
  top: 1509px;
  left: 0;
  width: 1440px;
  height: 509px;
  font-size: 12px;
  font-family: Inter;
}
.bg-header34 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header35,
.bg-header36 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header35 {
  height: 1px;
  display: none;
}
.bg-header36 {
  height: 73px;
}
.nauber-logo-1-icon11 {
  position: absolute;
  top: 22px;
  left: 135px;
  width: 170px;
  height: 33px;
  object-fit: cover;
  display: none;
}
.logo-div11,
.logo-nauber-111 {
  position: absolute;
  width: 170px;
  height: 47.02px;
}
.logo-nauber-111 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.logo-div11 {
  top: 14px;
  left: 135px;
}
.home-b11,
.vector-icon64 {
  position: absolute;
  top: 99.5px;
  left: 777px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b11 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b11,
.empresa-icon11,
.home-div12 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b11,
.empresa-icon11 {
  top: 0;
  width: 20px;
}
.empresa-b11 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div11 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.produtos-b11 {
  top: 0;
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon11,
.produtos-b11,
.produtos-div37 {
  position: absolute;
  height: 17px;
}
.box-icon11 {
  top: 0;
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.produtos-div37 {
  top: 7px;
  left: 280px;
  width: 85.63px;
  color: #fae013;
}
.assistncias-b12 {
  position: absolute;
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
  height: 17px;
}
.assistencia-div11 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b12 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div13,
.contato-b12 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
}
.contato-b12 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div12,
.login-b11 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
}
.login-b11 {
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon11,
.login-div11 {
  position: absolute;
  top: 0;
  height: 24px;
}
.logim-icon11 {
  left: 0;
  width: 24px;
  overflow: hidden;
}
.login-div11 {
  left: 972px;
  width: 80px;
}
.menu-div11,
.vector-icon65 {
  position: absolute;
  top: 90px;
  left: 204px;
  width: 1052px;
  height: 25px;
}
.vector-icon65 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon11,
.flag-brasil-1-icon11,
.flag-espanha-1-icon11,
.flag-eua-1-icon11 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon11,
.flag-espanha-1-icon11,
.flag-eua-1-icon11 {
  left: 31.36px;
}
.flag-arabia-1-icon11,
.flag-eua-1-icon11 {
  left: 66.72px;
}
.flag-arabia-1-icon11 {
  left: 102.08px;
}
.flags-div11,
.line-div30 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div30 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-111,
.logo-revenda-pro-111 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-111 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema23 {
  font-weight: 500;
}
.nauber-pro13 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n11 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  color: #000;
  display: inline-block;
  font-size: 7.59px;
  font-family: Inter;
}
.rectangle-div272 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon10 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div11,
.seach-div11 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div11 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 18px;
}
.rectangle-div273 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20.06px 20.06px 0 0;
  background-color: #fff;
  box-shadow: 0 3.3433682918548584px 16.72px rgba(0, 0, 0, 0.2);
  width: 267.62px;
  height: 368.85px;
}
.icon31,
.rectangle-div274 {
  position: absolute;
  left: 0;
  width: 267.47px;
}
.rectangle-div274 {
  top: 383.21px;
  border-radius: 0 0 36.78px 36.78px;
  background: linear-gradient(180deg, #078c14, #165032);
  height: 111.17px;
}
.icon31 {
  top: 4.69px;
  height: 401.16px;
  object-fit: cover;
}
.d-30x-b30 {
  position: absolute;
  top: 416.65px;
  left: 70.59px;
  line-height: 78%;
  display: inline-block;
}
.produto-div6,
.rectangle-div275 {
  position: absolute;
  top: 0;
  left: 0;
  width: 267.62px;
  height: 494.38px;
}
.rectangle-div275 {
  left: 0.43px;
  border-radius: 20.06px 20.06px 0 0;
  background-color: #fff;
  box-shadow: 0 3.3433682918548584px 16.72px rgba(0, 0, 0, 0.2);
  width: 266.61px;
  height: 368.85px;
}
.produto-div7 {
  position: absolute;
  top: 0;
  left: 301.27px;
  width: 267.47px;
  height: 494.38px;
}
.icon33,
.rectangle-div278 {
  position: absolute;
  left: 0.15px;
  width: 267.47px;
}
.rectangle-div278 {
  top: 383.21px;
  border-radius: 0 0 36.78px 36.78px;
  background: linear-gradient(180deg, #078c14, #165032);
  height: 111.17px;
}
.icon33 {
  top: 4.69px;
  height: 401.16px;
  object-fit: cover;
}
.d-30x-b32 {
  position: absolute;
  top: 416.65px;
  left: 70.73px;
  line-height: 78%;
  display: inline-block;
}
.icon34 {
  position: absolute;
  top: 318.35px;
  left: 723.35px;
  width: 361.83px;
  height: 281.83px;
  object-fit: cover;
  display: none;
}
.linha-1-div7,
.produto-div8 {
  position: absolute;
  top: 0;
  left: 602.38px;
  width: 267.62px;
  height: 494.38px;
}
.linha-1-div7 {
  top: 259.8px;
  left: 135px;
  width: 870px;
  text-align: center;
}
.icon38 {
  position: absolute;
  top: 869.62px;
  left: 723.35px;
  width: 361.83px;
  height: 281.83px;
  object-fit: cover;
  display: none;
}
.linha-2-div1 {
  position: absolute;
  top: 811.07px;
  left: 135px;
  width: 870px;
  height: 494.38px;
  text-align: center;
}
.vector-icon66,
.vector-icon67 {
  position: absolute;
  top: 22px;
  left: 4px;
  width: 1444px;
  height: 12px;
}
.vector-icon67 {
  top: 0;
  width: 536px;
  height: 63px;
}
.mquinas-para-pintura13 {
  position: absolute;
  top: 12px;
  left: 138px;
  display: inline-block;
}
.mquinas-div7 {
  position: absolute;
  top: 148px;
  left: -4px;
  width: 1444px;
  height: 63px;
  font-size: 47.04px;
}
.linha-icon {
  position: absolute;
  top: 316.41px;
  left: 0;
  width: 200.75px;
  height: 1.18px;
}
.span {
  color: #9f9f9f;
}
.airless-diafragma-7523,
.airless-pisto-7523 {
  position: absolute;
  top: 44.87px;
  left: 24.8px;
  font-weight: 500;
  display: inline-block;
  width: 174.77px;
}
.airless-pisto-7523 {
  top: 98.01px;
}
.rectangle-div285,
.rectangle-div286 {
  position: absolute;
  top: 51.96px;
  left: 0;
  border: 1.2px solid #707070;
  box-sizing: border-box;
  width: 18.89px;
  height: 18.89px;
}
.rectangle-div286 {
  top: 100.37px;
}
.tipo-de-produto {
  position: absolute;
  top: 340.09px;
  left: 1.18px;
  width: 199.56px;
  height: 119.27px;
}
.categorias-b {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 21.26px;
  letter-spacing: 0.1em;
  line-height: 78%;
  display: inline-block;
  font-family: Roboto;
  color: #098029;
}
.aspiradores-div,
.lixadeiras-div,
.mquinas-para-pintura14 {
  position: absolute;
  top: 38.97px;
  left: 23.62px;
  font-weight: 500;
  display: inline-block;
  width: 198.38px;
}
.aspiradores-div,
.lixadeiras-div {
  top: 72.03px;
}
.aspiradores-div {
  top: 105.1px;
}
.acessrios-div,
.fresadora-de-parede10,
.lixas-e-abrasivos6,
.misturadores-div,
.peas-div {
  position: absolute;
  top: 138.16px;
  left: 23.62px;
  font-weight: 500;
  display: inline-block;
  width: 198.38px;
}
.acessrios-div,
.fresadora-de-parede10,
.lixas-e-abrasivos6,
.peas-div {
  top: 171.22px;
}
.acessrios-div,
.lixas-e-abrasivos6,
.peas-div {
  top: 204.29px;
}
.acessrios-div,
.peas-div {
  top: 237.35px;
}
.acessrios-div {
  top: 270.41px;
}
.rectangle-div287,
.rectangle-div288 {
  position: absolute;
  left: 1.18px;
  box-sizing: border-box;
  width: 18.89px;
  height: 18.89px;
}
.rectangle-div287 {
  top: 40.15px;
  background-color: #0b5d2c;
  border: 1.2px solid #0b5d2c;
}
.rectangle-div288 {
  top: 73.21px;
  border: 1.2px solid #707070;
}
.rectangle-div289,
.rectangle-div290,
.rectangle-div291,
.rectangle-div292,
.rectangle-div293,
.rectangle-div294 {
  position: absolute;
  top: 106.28px;
  left: 1.18px;
  border: 1.2px solid #707070;
  box-sizing: border-box;
  width: 18.89px;
  height: 18.89px;
}
.rectangle-div290,
.rectangle-div291,
.rectangle-div292,
.rectangle-div293,
.rectangle-div294 {
  top: 139.34px;
}
.rectangle-div291,
.rectangle-div292,
.rectangle-div293,
.rectangle-div294 {
  top: 172.4px;
}
.rectangle-div292,
.rectangle-div293,
.rectangle-div294 {
  top: 205.47px;
}
.rectangle-div293,
.rectangle-div294 {
  top: 238.53px;
}
.rectangle-div294 {
  top: 271.6px;
}
.categorias-div,
.menu-div12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222px;
  height: 290.49px;
}
.menu-div12 {
  top: 264px;
  left: 1105px;
  height: 459.35px;
  font-size: 16.53px;
  color: #6f6f6f;
  font-family: Inter;
}
.produtos-div34 {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  height: 2018px;
  overflow: hidden;
  text-align: left;
  font-size: 57.19px;
  color: #fff;
  font-family: Roboto;
}
