.bg-div3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon11 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais2 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito2 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos2,
.politicas-de-privacidade-ter2 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos2 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon2 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista2,
.envie-um-e-mail2,
.ficou-com-dvidas2,
.voltar-ao-incio2 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail2,
.ficou-com-dvidas2,
.voltar-ao-incio2 {
  top: 57.14%;
}
.ficou-com-dvidas2,
.voltar-ao-incio2 {
  top: 83.81%;
}
.ficou-com-dvidas2 {
  top: 0;
  color: #fff;
}
.dvidas-div2 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div2,
.linha-industrial-div2 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div2 {
  top: 77.92%;
}
.produtos-div7 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc2 {
  margin: 0;
}
.div15,
.div16,
.div17,
.nossa-sede-div5,
.rua-mal-castelo-branco-24772 {
  position: absolute;
  top: 23.88%;
  left: 0.86%;
  font-weight: 500;
  display: inline-block;
}
.div15,
.div16,
.div17,
.nossa-sede-div5 {
  top: 52.99%;
}
.div16,
.div17,
.nossa-sede-div5 {
  top: 70.9%;
  left: 0;
}
.div17,
.nossa-sede-div5 {
  top: 88.81%;
}
.nossa-sede-div5 {
  top: 0;
  left: 0.86%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div4 {
  position: absolute;
  height: 26.33%;
  width: 16.11%;
  top: 11.98%;
  right: 56.6%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon2 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div5 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon2 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div52 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div4,
.rectangle-div53 {
  position: absolute;
  top: 890px;
  left: 0;
  width: 1440px;
  height: 509px;
}
.rectangle-div53 {
  top: 75px;
  background: linear-gradient(90deg, #0a7d1a, #155430);
  height: 815px;
  display: none;
}
.bg-header7 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header8,
.bg-header9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header8 {
  height: 1px;
  display: none;
}
.bg-header9 {
  height: 73px;
}
.nauber-logo-1-icon2 {
  position: absolute;
  top: 22px;
  left: 135px;
  width: 170px;
  height: 33px;
  object-fit: cover;
  display: none;
}
.logo-div2,
.logo-nauber-12 {
  position: absolute;
  width: 170px;
  height: 47.02px;
}
.logo-nauber-12 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.logo-div2 {
  top: 14px;
  left: 135px;
}
.home-b2,
.vector-icon18 {
  position: absolute;
  top: 100.5px;
  left: 777px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b2 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b2,
.empresa-icon2,
.home-div3 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b2,
.empresa-icon2 {
  top: 0;
  width: 20px;
}
.empresa-b2 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div2 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.box-icon2,
.produtos-b2 {
  position: absolute;
  top: 0;
  height: 17px;
}
.produtos-b2 {
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon2 {
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.assistncias-b3,
.produtos-div9 {
  position: absolute;
  top: 7px;
  left: 280px;
  width: 85.63px;
  height: 17px;
}
.assistncias-b3 {
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
}
.assistencia-div2 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b2 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div2,
.contato-b2 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
}
.contato-b2 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div3 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
  color: #fae013;
}
.login-b2 {
  position: absolute;
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon2,
.login-div2 {
  position: absolute;
  top: 0;
  height: 24px;
}
.logim-icon2 {
  left: 0;
  width: 24px;
  overflow: hidden;
}
.login-div2 {
  left: 972px;
  width: 80px;
}
.menu-div2,
.vector-icon19 {
  position: absolute;
  top: 91px;
  left: 204px;
  width: 1052px;
  height: 25px;
}
.vector-icon19 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon2,
.flag-brasil-1-icon2,
.flag-espanha-1-icon2,
.flag-eua-1-icon2 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon2,
.flag-espanha-1-icon2,
.flag-eua-1-icon2 {
  left: 31.36px;
}
.flag-arabia-1-icon2,
.flag-eua-1-icon2 {
  left: 66.72px;
}
.flag-arabia-1-icon2 {
  left: 102.08px;
}
.flags-div2,
.line-div6 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div6 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-12,
.logo-revenda-pro-12 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-12 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema5 {
  font-weight: 500;
}
.nauber-pro3 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n2 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  color: #000;
  display: inline-block;
  font-size: 7.59px;
  font-family: Inter;
}
.rectangle-div54 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon1 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div2,
.seach-div2 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div2 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 18px;
  font-family: Roboto;
}
.vector-icon20,
.vector-icon21 {
  position: absolute;
  top: 22px;
  left: 0;
  width: 1444px;
  height: 12px;
}
.vector-icon21 {
  top: 0;
  left: 3px;
  width: 536px;
  height: 63px;
}
.contato-b3,
.headline-div1 {
  position: absolute;
  top: 12px;
  left: 138px;
  display: inline-block;
}
.headline-div1 {
  top: 148px;
  left: -4px;
  width: 1444px;
  height: 63px;
  display: none;
  font-size: 47.04px;
  font-family: Roboto;
}
.rectangle-div55,
.telefone-de-contato {
  position: absolute;
  top: 0;
  left: 0;
  width: 302.82px;
  height: 56.12px;
}
.rectangle-div55 {
  background-color: #095a31;
}
.telefone-de-contato {
  font-size: 39.41px;
  font-family: Roboto;
}
.rectangle-div56 {
  position: absolute;
  top: 75.18px;
  left: 52.94px;
  border-radius: 28.59px;
  background: linear-gradient(90deg, #0ca850, #0e7141);
  width: 176.82px;
  height: 65.65px;
}
.b,
.b1 {
  position: absolute;
  top: 85.04px;
  left: 75.18px;
  display: inline-block;
}
.b1 {
  top: 112.57px;
}
.logo-whast-icon {
  position: absolute;
  top: 101.65px;
  left: 202.24px;
  width: 42.35px;
  height: 42.68px;
  overflow: hidden;
}
.telefone-div {
  position: absolute;
  top: 301.93px;
  left: 135px;
  width: 302.82px;
  height: 144.33px;
  font-size: 13.98px;
}
.rectangle-div57 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #095a31;
  width: 349.41px;
  height: 56.12px;
}
.horrio-de-atendimento {
  position: absolute;
  top: 11.65px;
  left: 19.06px;
  display: inline-block;
}
.horrio-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 349.41px;
  height: 56.12px;
  font-size: 39.41px;
  color: #fff;
  font-family: Roboto;
}
.h30-s-17h30,
.segunda-a-sexta-feira {
  position: absolute;
  top: 70.07px;
  left: 2.12px;
  display: inline-block;
}
.h30-s-17h30 {
  top: 90.19px;
}
.horrio-div {
  position: absolute;
  top: 492.52px;
  left: 135px;
  width: 349.41px;
  height: 111.19px;
  font-size: 16.94px;
  color: #141620;
}
.centro-schroeder-sc,
.rua-marechal-castelo-branco-n {
  position: absolute;
  top: 69.88px;
  left: 2.12px;
  display: inline-block;
}
.centro-schroeder-sc {
  top: 87.88px;
  left: 0;
}
.localizao-div1 {
  position: absolute;
  top: 664.05px;
  left: 135px;
  width: 349.41px;
  height: 108.88px;
  font-size: 16.94px;
  color: #141620;
}
.rectangle-div59 {
  position: absolute;
  top: 206px;
  left: 132px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 426px;
  height: 633px;
}
.image-4-icon {
  position: absolute;
  top: 166.34px;
  left: 117px;
  width: 1273px;
  height: 653.32px;
  object-fit: cover;
  display: none;
}
.contatonaubercombr-div,
.div18,
.div19,
.rua-mal-castelo-branco-24773,
.segunda-a-sexta-730-1748 {
  position: absolute;
  top: 39.79px;
  left: 30px;
  font-size: 16.34px;
  font-family: Inter;
  color: #666;
  display: inline-block;
}
.contatonaubercombr-div,
.div19,
.rua-mal-castelo-branco-24773,
.segunda-a-sexta-730-1748 {
  top: 126.79px;
}
.contatonaubercombr-div,
.rua-mal-castelo-branco-24773,
.segunda-a-sexta-730-1748 {
  top: 212.79px;
  left: 33px;
}
.rua-mal-castelo-branco-24773,
.segunda-a-sexta-730-1748 {
  top: 411.79px;
}
.rua-mal-castelo-branco-24773 {
  top: 300.79px;
  left: 29px;
  width: 278px;
}
.icones-redes {
  position: absolute;
  top: 505.79px;
  left: 3px;
  width: 184px;
  height: 25px;
}
.mail-icon,
.phone-icon12,
.pin-icon3,
.whatsapp-icon {
  position: absolute;
  top: 39.79px;
  left: 1px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.mail-icon,
.phone-icon12,
.pin-icon3 {
  top: 212.79px;
  width: 20px;
  height: 20px;
}
.phone-icon12,
.pin-icon3 {
  top: 303.79px;
  width: 18px;
  height: 18px;
}
.phone-icon12 {
  top: 127.79px;
  width: 17px;
  height: 17px;
}
.e-mail-b,
.telefone-b,
.whatsapp-b {
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
}
.e-mail-b,
.telefone-b {
  top: 85px;
}
.e-mail-b {
  top: 171px;
}
.horrio-de-atendimento1,
.localizao-b1,
.redes-sociais-b {
  position: absolute;
  top: 370px;
  left: 1px;
  display: inline-block;
}
.localizao-b1,
.redes-sociais-b {
  top: 261px;
}
.redes-sociais-b {
  top: 460px;
}
.icround-access-time-filled-icon {
  position: absolute;
  top: 412px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.contatos-rpidos-div,
.ficou-com-alguma-dvida-entre {
  position: absolute;
  font-size: 35.58px;
  font-family: Roboto;
  color: #0f6b35;
}
.contatos-rpidos-div {
  top: 251px;
  left: 198px;
  width: 307px;
  height: 530.79px;
}
.ficou-com-alguma-dvida-entre {
  top: 206px;
  left: 694px;
  display: inline-block;
  text-align: center;
}
.rectangle-div60 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10.59px;
  background: linear-gradient(90deg, #0d920e, #0f7b37, #0f7a38);
  width: 626.82px;
  height: 303.88px;
}
.rectangle-div61,
.rectangle-div62,
.rectangle-div63,
.rectangle-div64,
.rectangle-div65,
.rectangle-div66,
.rectangle-div67 {
  position: absolute;
  top: 9.53px;
  left: 14.82px;
  border-radius: 6.35px;
  background-color: #ebebeb;
  width: 596.12px;
  height: 38.12px;
}
.rectangle-div62,
.rectangle-div63,
.rectangle-div64,
.rectangle-div65,
.rectangle-div66,
.rectangle-div67 {
  top: 54px;
}
.rectangle-div63,
.rectangle-div64,
.rectangle-div65,
.rectangle-div66,
.rectangle-div67 {
  top: 98.47px;
  width: 381.18px;
}
.rectangle-div64,
.rectangle-div65,
.rectangle-div66,
.rectangle-div67 {
  left: 403.41px;
  width: 207.53px;
}
.rectangle-div65,
.rectangle-div66,
.rectangle-div67 {
  top: 142.94px;
  left: 14.82px;
  width: 254.12px;
}
.rectangle-div66,
.rectangle-div67 {
  left: 276.35px;
  width: 334.59px;
}
.rectangle-div67 {
  top: 187.41px;
  left: 14.82px;
  width: 596.12px;
  height: 105.88px;
}
.atendimento-atendimentonaube-div {
  position: absolute;
  top: 19.12px;
  left: 29.65px;
  font-size: 14.82px;
  font-weight: 500;
  color: #3b3c39;
  display: inline-block;
}
.cidade-div1,
.e-mail-div,
.estado-div,
.mensagem-div,
.nome-completo-div,
.telefone-div1 {
  position: absolute;
  top: 62.47px;
  left: 27.53px;
  font-weight: 500;
  display: inline-block;
}
.cidade-div1,
.e-mail-div,
.estado-div,
.mensagem-div,
.telefone-div1 {
  top: 106.94px;
}
.e-mail-div,
.estado-div,
.mensagem-div,
.telefone-div1 {
  left: 416.12px;
}
.e-mail-div,
.mensagem-div,
.telefone-div1 {
  top: 151.41px;
  left: 27.53px;
}
.e-mail-div,
.mensagem-div {
  left: 288px;
}
.mensagem-div {
  top: 193.76px;
  left: 27.53px;
}
.form-div,
.form-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 626.82px;
  height: 303.88px;
}
.form-div {
  top: 715.58px;
  left: 678.18px;
  display: none;
  font-size: 16.94px;
  color: #8e8e8e;
}
.rectangle-div68 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 700px;
  height: 533px;
}
.rectangle-div69,
.rectangle-div70,
.rectangle-div71,
.rectangle-div72 {
  position: absolute;
  left: 42px;
  border-radius: 10px;
  width: 633px;
  height: 51px;
}
.rectangle-div69 {
  top: 458px;
  background: linear-gradient(90deg, #165231, #0a831d);
}
.rectangle-div70,
.rectangle-div71,
.rectangle-div72 {
  top: 367px;
  border: 1px solid #c0c8ce;
  box-sizing: border-box;
}
.rectangle-div71,
.rectangle-div72 {
  top: 304px;
}
.rectangle-div72 {
  top: 241px;
}
.rectangle-div73,
.rectangle-div74,
.rectangle-div75,
.rectangle-icon {
  position: absolute;
  top: 178px;
  border-radius: 10px;
  width: 310px;
  height: 51px;
}
.rectangle-div73 {
  left: 42px;
  border: 1px solid #c0c8ce;
  box-sizing: border-box;
}
.rectangle-div74,
.rectangle-div75,
.rectangle-icon {
  left: 365px;
}
.rectangle-div74,
.rectangle-div75 {
  top: 115px;
  left: 42px;
  border: 1px solid #c0c8ce;
  box-sizing: border-box;
  width: 633px;
}
.rectangle-div75 {
  top: 52px;
}
.enviar-b,
.escreva-sua-mensagem-aqui {
  position: absolute;
  display: inline-block;
}
.enviar-b {
  top: 472px;
  left: 329px;
  font-size: 26px;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 23.54px;
}
.escreva-sua-mensagem-aqui {
  top: 385px;
  left: 59px;
  font-weight: 300;
}
.atendimento-atendimentonaub,
.cidade-div2,
.digite-seu-nome,
.estado-div1 {
  position: absolute;
  top: 132px;
  left: 59px;
  font-weight: 300;
  display: inline-block;
}
.atendimento-atendimentonaub,
.cidade-div2,
.estado-div1 {
  top: 196px;
}
.atendimento-atendimentonaub,
.cidade-div2 {
  left: 389px;
}
.atendimento-atendimentonaub {
  top: 69px;
  left: 59px;
  font-weight: 500;
  color: #666;
}
.escolha-o-setor-para-o-envio-d {
  position: absolute;
  top: 22px;
  left: 42px;
  font-size: 16px;
  display: inline-block;
  color: #666;
}
.seu-melhor-e-mail,
.telefone-para-contato {
  position: absolute;
  top: 258px;
  left: 59px;
  font-weight: 300;
  display: inline-block;
}
.telefone-para-contato {
  top: 322px;
}
.form-div2,
.vector-icon22 {
  position: absolute;
  top: 77.55px;
  left: 644.52px;
  width: 10.15px;
  height: 6.34px;
}
.form-div2 {
  top: 269px;
  left: 605px;
  width: 700px;
  height: 533px;
  color: #7a7a7a;
}
.busque-aqui-seu-produto2 {
  position: absolute;
  top: 29px;
  left: 419px;
  color: #7a7a7a;
  display: inline-block;
}
.contato-div2 {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  height: 1399px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
}
