.slides {
  position: absolute;
  top: 7rem;
  z-index: -12;
  width: 1750px;
  height: 75%;
  background-image: linear-gradient(#107A46, #03850F);
}

.text {
  position: absolute;
width: 909px;
height: 39.18px;
left: 263px;
top: 278px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}