.bg-div9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon30 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais8 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito8 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos8,
.politicas-de-privacidade-ter8 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos8 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon8 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista8,
.envie-um-e-mail8,
.ficou-com-dvidas8,
.voltar-ao-incio8 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail8,
.ficou-com-dvidas8,
.voltar-ao-incio8 {
  top: 57.14%;
}
.ficou-com-dvidas8,
.voltar-ao-incio8 {
  top: 83.81%;
}
.ficou-com-dvidas8 {
  top: 0;
  color: #fff;
}
.dvidas-div8 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div8,
.linha-industrial-div9 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div9 {
  top: 77.92%;
}
.produtos-div25 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo8 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc8 {
  margin: 0;
}
.div47,
.div48,
.div49,
.nossa-sede-div17,
.rua-mal-castelo-branco-24779 {
  position: absolute;
  top: 23.88%;
  left: 0.9%;
  font-weight: 500;
  display: inline-block;
}
.div47,
.div48,
.div49,
.nossa-sede-div17 {
  top: 52.99%;
}
.div48,
.div49,
.nossa-sede-div17 {
  top: 70.9%;
  left: 0;
}
.div49,
.nossa-sede-div17 {
  top: 88.81%;
}
.nossa-sede-div17 {
  top: 0;
  left: 0.9%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div16 {
  position: absolute;
  height: 26.33%;
  width: 15.49%;
  top: 11.98%;
  right: 57.22%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon9 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div21 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon8 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div208 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div17 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div16 {
  position: absolute;
  top: 2584px;
  left: 0;
  width: 1440px;
  height: 509px;
  font-size: 12px;
  font-family: Inter;
}
.bg-header25 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header26,
.bg-header27 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header26 {
  height: 1px;
  display: none;
}
.bg-header27 {
  height: 73px;
}
.nauber-logo-1-icon8 {
  position: absolute;
  top: 22px;
  left: 135px;
  width: 170px;
  height: 33px;
  object-fit: cover;
  display: none;
}
.logo-div8,
.logo-nauber-18 {
  position: absolute;
  width: 170px;
  height: 47.02px;
}
.logo-nauber-18 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.logo-div8 {
  top: 14px;
  left: 135px;
}
.home-b8,
.vector-icon48 {
  position: absolute;
  top: 100.5px;
  left: 777px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b8 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b8,
.empresa-icon8,
.home-div9 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b8,
.empresa-icon8 {
  top: 0;
  width: 20px;
}
.empresa-b8 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div8 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.produtos-b8 {
  top: 0;
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon8,
.produtos-b8,
.produtos-div27 {
  position: absolute;
  height: 17px;
}
.box-icon8 {
  top: 0;
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.produtos-div27 {
  top: 7px;
  left: 280px;
  width: 85.63px;
  color: #fae013;
}
.assistncias-b9 {
  position: absolute;
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
  height: 17px;
}
.assistencia-div8 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b9 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div10,
.contato-b9 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
}
.contato-b9 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div9,
.login-b8 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
}
.login-b8 {
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon8,
.login-div8 {
  position: absolute;
  top: 0;
  height: 24px;
}
.logim-icon8 {
  left: 0;
  width: 24px;
  overflow: hidden;
}
.login-div8 {
  left: 972px;
  width: 80px;
}
.menu-div8,
.vector-icon49 {
  position: absolute;
  top: 91px;
  left: 204px;
  width: 1052px;
  height: 25px;
}
.vector-icon49 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon8,
.flag-brasil-1-icon8,
.flag-espanha-1-icon8,
.flag-eua-1-icon8 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon8,
.flag-espanha-1-icon8,
.flag-eua-1-icon8 {
  left: 31.36px;
}
.flag-arabia-1-icon8,
.flag-eua-1-icon8 {
  left: 66.72px;
}
.flag-arabia-1-icon8 {
  left: 102.08px;
}
.flags-div8,
.line-div22 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div22 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-18,
.logo-revenda-pro-18 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-18 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema17 {
  font-weight: 500;
}
.nauber-pro9 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n8 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  color: #000;
  display: inline-block;
  font-size: 7.59px;
  font-family: Inter;
}
.rectangle-div209 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon7 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div8,
.seach-div8 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div8 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 18px;
}
.vector-icon50 {
  position: absolute;
  top: 233px;
  left: -2px;
  width: 1443px;
  height: 898px;
  display: none;
}
.descrio-b3,
.turbina-de-aspirao-multiuso3 {
  position: absolute;
  top: 29px;
  left: 0;
  line-height: 120%;
  display: inline-block;
}
.descrio-b3 {
  top: 0;
  left: 1px;
  font-size: 28.64px;
  line-height: 78%;
  font-family: Roboto;
  color: #0b5f2b;
  width: 109px;
}
.descrio-div3 {
  position: absolute;
  top: 358px;
  left: 835px;
  width: 414px;
  height: 131px;
  color: #171717;
  font-family: Inter;
}
.acompanha-saco-coletor-capac3,
.caractersticas-b3 {
  position: absolute;
  top: 0;
  left: 1px;
  line-height: 78%;
  display: inline-block;
  width: 160px;
}
.acompanha-saco-coletor-capac3 {
  top: 29px;
  left: 0;
  font-size: 14px;
  line-height: 150%;
  font-family: Inter;
  color: #171717;
  width: 400px;
}
.caractersticas-div3 {
  position: absolute;
  top: 547px;
  left: 835px;
  width: 400px;
  height: 113px;
  font-size: 28.64px;
  color: #0b5f2b;
}
.construo-civil-e-industrial3,
.indicaes-de-uso10 {
  position: absolute;
  top: 38px;
  left: 0;
  display: inline-block;
  width: 161.36px;
}
.indicaes-de-uso10 {
  top: 0;
  left: 1px;
  font-size: 30px;
  line-height: 78%;
  font-family: Roboto;
  color: #0b5f2b;
  width: 183px;
}
.indicaes-de-uso9 {
  position: absolute;
  top: 696px;
  left: 835px;
  width: 184px;
  height: 72px;
  color: #171717;
  font-family: Inter;
}
.dados-tcnicos-b3,
.potncia-do-motor-750w-veloc3 {
  position: absolute;
  top: 38px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 400px;
}
.dados-tcnicos-b3 {
  top: 0;
  left: 1px;
  font-size: 30px;
  line-height: 78%;
  font-family: Roboto;
  color: #0b5f2b;
  width: 160px;
}
.indicaes-de-uso11 {
  position: absolute;
  top: 816px;
  left: 835px;
  width: 400px;
  height: 206px;
  color: #171717;
  font-family: Inter;
}
.aspiradores-b4,
.lixadeiras-b4,
.misturadores-b4,
.mquinas-para-pintura8 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 78%;
  display: inline-block;
}
.aspiradores-b4,
.lixadeiras-b4,
.misturadores-b4 {
  top: 50px;
}
.aspiradores-b4,
.misturadores-b4 {
  top: 100px;
}
.misturadores-b4 {
  top: 150px;
}
.acessrios-b4,
.fresadora-de-parede8,
.lixas-e-abrasivos4,
.peas-b4 {
  position: absolute;
  top: 200px;
  left: 0;
  line-height: 78%;
  display: inline-block;
}
.acessrios-b4,
.lixas-e-abrasivos4,
.peas-b4 {
  top: 250px;
}
.acessrios-b4,
.peas-b4 {
  top: 300px;
}
.acessrios-b4 {
  top: 350px;
}
.texto-div4 {
  position: absolute;
  top: 7px;
  left: 17px;
  width: 218px;
  height: 372px;
}
.group-div17,
.seta-icon41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15.5px;
  height: 376px;
}
.group-div17 {
  top: 346px;
  left: 1036px;
  width: 235px;
  height: 379px;
  display: none;
  font-size: 28.64px;
}
.rectangle-div210,
.rectangle-div211 {
  position: absolute;
  left: -123.81px;
  display: none;
}
.rectangle-div210 {
  top: 48.07px;
  border-radius: 23.74px 23.74px 0 0;
  background-color: #fff;
  box-shadow: 0 3.957205295562744px 19.79px rgba(0, 0, 0, 0.2);
  width: 316.75px;
  height: 370.24px;
}
.rectangle-div211 {
  top: 432.72px;
  border-radius: 0 0 43.53px 43.53px;
  background: linear-gradient(180deg, #078c14, #165032);
  width: 316.58px;
  height: 111.59px;
}
.icon21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275.96px;
  height: 351px;
  object-fit: cover;
}
.d-30x-b20 {
  position: absolute;
  top: 466.28px;
  left: -39.08px;
  line-height: 78%;
  display: none;
  width: 141.49px;
  height: 45px;
}
.linha-1-div5,
.produto-div4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275.96px;
  height: 351px;
}
.linha-1-div5 {
  top: 295px;
  left: 409.52px;
  text-align: center;
  font-size: 67.69px;
}
.rectangle-div212 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0 20px 0;
  background: linear-gradient(180deg, #0b592d, #0a891b), #fff;
  width: 469px;
  height: 61px;
}
.mquinas-para-pintura-d-30x4 {
  position: absolute;
  top: 15px;
  left: 3px;
  display: inline-block;
  width: 463px;
  height: 32px;
}
.encontre-um-revendedor4 {
  position: absolute;
  top: 261px;
  left: 836px;
  width: 469px;
  height: 61px;
  text-align: center;
  font-size: 38px;
}
.vector-icon51,
.vector-icon52 {
  position: absolute;
  top: 22px;
  left: 4px;
  width: 1444px;
  height: 12px;
}
.vector-icon52 {
  top: 0;
  width: 536px;
  height: 63px;
}
.mquinas-para-pintura9 {
  position: absolute;
  top: 12px;
  left: 138px;
  display: inline-block;
}
.mquinas-div4 {
  position: absolute;
  top: 148px;
  left: -4px;
  width: 1444px;
  height: 63px;
  font-size: 47.04px;
}
.rectangle-div213 {
  position: absolute;
  top: 0;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div213,
.rectangle-div214,
.rectangle-div215 {
  left: 0;
  background-color: #d9d9d9;
  width: 120px;
  height: 80px;
}
.rectangle-div214 {
  position: absolute;
  top: 90px;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div215 {
  top: 180px;
}
.rectangle-div215,
.rectangle-div216,
.rectangle-div217 {
  position: absolute;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div216 {
  top: 270px;
  left: 0;
  background-color: #d9d9d9;
  width: 120px;
  height: 80px;
}
.rectangle-div217 {
  top: 0;
  left: 170px;
  width: 473px;
  height: 350px;
}
.group-div18 {
  position: absolute;
  top: 285px;
  left: 135px;
  width: 643px;
  height: 350px;
}
.rectangle-div218 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 22.33px;
  background-color: #d9d9d9;
  width: 670px;
  height: 300.38px;
}
.play-icon4 {
  position: absolute;
  top: 83px;
  left: 268px;
  width: 134px;
  height: 134px;
  overflow: hidden;
}
.apresentao-tcnica-turbina4 {
  position: absolute;
  top: 349px;
  left: 45px;
  line-height: 103%;
  display: inline-block;
}
.downloads-b4,
.video-div4 {
  position: absolute;
  color: #0b5f2b;
}
.video-div4 {
  top: 681px;
  left: 135px;
  width: 670px;
  height: 451px;
  font-size: 50px;
}
.downloads-b4 {
  top: 0;
  left: 0;
  font-size: 27.94px;
  line-height: 78%;
  display: inline-block;
  text-align: left;
}
.ellipse-icon14 {
  position: absolute;
  top: 6.44px;
  left: 0;
  width: 112.28px;
  height: 112.28px;
}
.manual-de-instrues4 {
  position: absolute;
  top: 129.45px;
  left: 3.3px;
  display: inline-block;
}
.flag-brasil-2-icon13,
.manual-1-icon4 {
  position: absolute;
  top: 25.94px;
  left: 0;
  width: 112.7px;
  height: 98.52px;
  object-fit: cover;
}
.flag-brasil-2-icon13 {
  top: 0;
  left: 32.58px;
  width: 47.85px;
  height: 30.24px;
}
.flag-espanha-2-icon5,
.flag-eua-2-icon5 {
  position: absolute;
  top: 25.81px;
  left: 126.12px;
  width: 51.45px;
  height: 32.52px;
  object-fit: cover;
}
.flag-eua-2-icon5 {
  top: 55.19px;
  left: 126.64px;
}
.manual-div4 {
  position: absolute;
  top: 74.82px;
  left: 0;
  width: 172.36px;
  height: 143.45px;
}
.fecha-tcnica-b4 {
  position: absolute;
  top: 129.45px;
  left: 23.6px;
  display: inline-block;
}
.fluentdocument-bullet-list-24-icon8 {
  position: absolute;
  top: 21.46px;
  left: 15.02px;
  width: 82.25px;
  height: 82.25px;
  overflow: hidden;
}
.fecha-tcnica-div8 {
  position: absolute;
  top: 74.82px;
  left: 228.86px;
  width: 172.36px;
  height: 143.45px;
}
.vista-explodida-b4 {
  position: absolute;
  top: 129.45px;
  left: 19.27px;
  display: inline-block;
}
.flag-espanha-3-icon9,
.flag-eua-3-icon9 {
  position: absolute;
  top: 1324.67px;
  left: 724.57px;
  width: 39.99px;
  height: 21.06px;
  object-fit: cover;
  display: none;
}
.flag-eua-3-icon9 {
  top: 1354.05px;
  left: 725.08px;
}
.downloads-div4,
.fecha-tcnica-div9 {
  position: absolute;
  top: 74.82px;
  left: 457.72px;
  width: 112.28px;
  height: 143.45px;
}
.downloads-div4 {
  top: 1224.04px;
  left: 135px;
  width: 570px;
  height: 218.27px;
  text-align: center;
  font-size: 14.3px;
  color: #171717;
}
.rectangle-div219 {
  border-radius: 6px;
  background: linear-gradient(193.84deg, #0a841d, #0b592e), #fff;
}
.group-div19,
.rectangle-div219 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1170px;
  height: 220px;
}
.concordo-em-compartilhar-a-min2,
.localize-o-revendedor-mais-pr1 {
  position: absolute;
  top: 169.82px;
  left: 910.81px;
  font-size: 6.22px;
  display: inline-block;
  width: 189.19px;
}
.localize-o-revendedor-mais-pr1 {
  top: 48px;
  left: 68px;
  font-size: 20.03px;
  font-family: Roboto;
  width: 296px;
}
.ou-div4,
.ou-div5 {
  position: absolute;
  top: 102px;
  left: 392px;
  display: inline-block;
  width: 27px;
}
.ou-div5 {
  top: 103px;
  left: 770px;
  width: 17px;
}
.rectangle-div220 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.28px;
  background-color: #fff;
  width: 296px;
  height: 40.85px;
}
.informe-seu-cep2 {
  position: absolute;
  top: 12px;
  left: 16px;
  display: inline-block;
}
.virificar-endereo-div2 {
  position: absolute;
  top: 93px;
  left: 70px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 296px;
  height: 40.85px;
  text-align: left;
  font-size: 12px;
  color: #929292;
}
.rectangle-div221 {
  position: absolute;
  top: 30.58px;
  left: 77.06px;
  border-radius: 20.18px;
  background-color: #fff;
  width: 218.94px;
  height: 40.36px;
}
.ellipse-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 101.52px;
  height: 101.52px;
}
.global-1-1-icon2 {
  position: absolute;
  top: 12.23px;
  left: 12.23px;
  width: 78.28px;
  height: 78.28px;
  object-fit: cover;
}
.usar-minha-localizao2 {
  position: absolute;
  top: 41.59px;
  left: 108.86px;
  display: inline-block;
}
.usar-a-minah-localizao {
  position: absolute;
  top: 62px;
  left: 804px;
  width: 296px;
  height: 101.52px;
  text-align: left;
  font-size: 14.68px;
  color: #929292;
}
.rectangle-div222 {
  position: absolute;
  height: 41.67%;
  width: 50%;
  top: 29.17%;
  right: 25%;
  bottom: 29.17%;
  left: 25%;
  background-color: #fff;
}
.vector-icon53,
.verificado-div3 {
  position: absolute;
  overflow: hidden;
}
.vector-icon53 {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.34%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.verificado-div3 {
  top: 168.59px;
  left: 900px;
  width: 10.81px;
  height: 10.81px;
}
.seach-icon4,
.seach-icon5 {
  position: absolute;
  top: 105px;
  left: 286px;
  width: 14.67px;
  height: 15px;
}
.seach-icon5 {
  top: 12px;
  left: 265px;
}
.informe-a-sua-cidade2 {
  position: absolute;
  top: 93px;
  left: 439px;
  width: 296px;
  height: 40.85px;
  text-align: left;
  font-size: 12px;
  color: #929292;
}
.card-endereo-div5 {
  position: absolute;
  top: 1522px;
  left: 135px;
  width: 1170px;
  height: 220px;
  text-align: center;
  font-family: Inter;
}
.rectangle-div224 {
  position: absolute;
  top: 8.65px;
  left: 0;
  border-radius: 12.36px;
  background: linear-gradient(196.47deg, #03850f, #107a49), #fff;
  box-shadow: 0 4.944915294647217px 4.94px rgba(0, 0, 0, 0.15);
  border-top: 1.2px solid #e5e5e5;
  border-right: 0 solid #e5e5e5;
  border-bottom: 0 solid #e5e5e5;
  border-left: 0 solid #e5e5e5;
  box-sizing: border-box;
  width: 276.92px;
  height: 509.33px;
}
.breve-descrio-sobre-o-produt16,
.d-30x-b21 {
  position: absolute;
  left: 22.25px;
  display: inline-block;
}
.d-30x-b21 {
  top: 316.47px;
  line-height: 50.91px;
  font-family: Roboto;
  width: 103.84px;
  height: 40.8px;
}
.breve-descrio-sobre-o-produt16 {
  top: 374.58px;
  font-size: 14.83px;
  line-height: 22.76px;
  font-weight: 500;
}
.rectangle-div225 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.42px;
  background-color: #fff;
  box-shadow: 0 4.944915294647217px 17.31px rgba(0, 117, 33, 0.5);
  width: 165.65px;
  height: 37.09px;
}
.saiba-mais-div20 {
  position: absolute;
  top: 11.13px;
  left: 22.25px;
  letter-spacing: 0.2em;
  font-weight: 500;
  display: inline-block;
}
.boto-div22,
.seta-icon42 {
  position: absolute;
  top: 12.62px;
  left: 130.61px;
  width: 13.51px;
  height: 12.01px;
}
.boto-div22 {
  top: 447.51px;
  left: 34.61px;
  width: 165.65px;
  height: 37.09px;
  font-size: 12.36px;
  color: #0b7c1d;
}
.rectangle-div226 {
  position: absolute;
  top: 18.54px;
  left: 7.42px;
  border-radius: 12.36px;
  background-color: #fafafa;
  border-top: 1.2px solid #e5e5e5;
  border-right: 0 solid #e5e5e5;
  border-bottom: 0 solid #e5e5e5;
  border-left: 0 solid #e5e5e5;
  box-sizing: border-box;
  width: 260.84px;
  height: 269.5px;
}
.icon22 {
  position: absolute;
  top: 0;
  left: 35.85px;
  width: 203.98px;
  height: 305.93px;
  object-fit: cover;
}
.produto-1-div5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276.92px;
  height: 517.98px;
}
.linha-4-div2,
.produto-2-div5,
.produto-3-div5,
.produto-4-div5 {
  position: absolute;
  top: 0;
  left: 296.69px;
  width: 276.92px;
  height: 517.98px;
}
.linha-4-div2,
.produto-3-div5,
.produto-4-div5 {
  left: 593.39px;
}
.linha-4-div2,
.produto-4-div5 {
  left: 890.08px;
}
.linha-4-div2 {
  top: 86px;
  left: 0;
  width: 1167px;
}
.produtos-relacionados-b4 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  display: inline-block;
  background: linear-gradient(90deg, #03850f, #107a47), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rectangle-div236 {
  position: absolute;
  top: -29px;
  left: 2px;
  background-color: #007521;
  width: 16px;
  height: 16px;
  display: none;
}
.line-div23,
.line-icon5 {
  position: absolute;
  top: 36.5px;
  left: 0;
  width: 1170px;
  height: 3.5px;
}
.line-div23 {
  top: 37.75px;
  left: -1.25px;
  border-top: 2.5px solid #088e1c;
  box-sizing: border-box;
  width: 120.5px;
  height: 2.5px;
}
.group-div22,
.tpico-lanamento-div5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1170px;
  height: 40px;
  font-size: 28px;
  font-family: Roboto;
}
.group-div22 {
  top: 1838px;
  left: 135px;
  height: 603.98px;
  font-size: 49.77px;
  font-family: Inter;
}
.produto-detalhes {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  height: 3093px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
}
