.bg-div14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon35 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais13 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito13 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos13,
.politicas-de-privacidade-ter13 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos13 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon13 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista13,
.envie-um-e-mail13,
.ficou-com-dvidas13,
.voltar-ao-incio13 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail13,
.ficou-com-dvidas13,
.voltar-ao-incio13 {
  top: 57.14%;
}
.ficou-com-dvidas13,
.voltar-ao-incio13 {
  top: 83.81%;
}
.ficou-com-dvidas13 {
  top: 0;
  color: #fff;
}
.dvidas-div13 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div13,
.linha-industrial-div14 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div14 {
  top: 77.92%;
}
.produtos-div41 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo13 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc13 {
  margin: 0;
}
.div62,
.div63,
.div64,
.nossa-sede-div27,
.rua-mal-castelo-branco-247714 {
  position: absolute;
  top: 23.88%;
  left: 0.86%;
  font-weight: 500;
  display: inline-block;
}
.div62,
.div63,
.div64,
.nossa-sede-div27 {
  top: 52.99%;
}
.div63,
.div64,
.nossa-sede-div27 {
  top: 70.9%;
  left: 0;
}
.div64,
.nossa-sede-div27 {
  top: 88.81%;
}
.nossa-sede-div27 {
  top: 0;
  left: 0.86%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div26 {
  position: absolute;
  height: 26.33%;
  width: 16.11%;
  top: 11.98%;
  right: 56.6%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon14 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div33 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon13 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div297 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div27 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div26 {
  position: absolute;
  top: 1545px;
  left: 0;
  width: 1440px;
  height: 509px;
}
.vector-icon101,
.vector-icon102,
.vector-icon103 {
  position: absolute;
  top: 0;
  left: 775px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon102,
.vector-icon103 {
  left: 384px;
}
.vector-icon103 {
  left: 0;
}
.vector-icon104 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.27px;
  height: 43px;
  opacity: 0.3;
}
.projetoras-de-textura5 {
  position: absolute;
  top: 7px;
  left: 62.45px;
  display: inline-block;
  opacity: 0.5;
}
.projetoras-de-textura4 {
  position: absolute;
  top: 209px;
  left: 391.55px;
  width: 388.27px;
  height: 43px;
}
.equipamentos-airless-div1 {
  position: absolute;
  top: 7px;
  left: 68.45px;
  display: inline-block;
  opacity: 0.5;
}
.projetoras-de-textura6 {
  position: absolute;
  top: 209px;
  left: 7.55px;
  width: 388.27px;
  height: 43px;
}
.demarcao-viria-div1 {
  position: absolute;
  top: 7px;
  left: 80.45px;
  display: inline-block;
  opacity: 0.5;
}
.projetoras-de-textura7 {
  position: absolute;
  top: 209px;
  left: 782.55px;
  width: 388.27px;
  height: 43px;
}
.quadro-linha-11,
.vector-icon107 {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1230px;
  height: 279px;
}
.vector-icon107 {
  top: 369px;
  left: 881px;
  width: 455px;
  object-fit: cover;
  display: none;
}
.vector-icon108,
.vector-icon109,
.vector-icon110 {
  position: absolute;
  top: 0;
  left: -455px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon109,
.vector-icon110 {
  left: -846px;
}
.vector-icon110 {
  left: -1231px;
}
.vector-icon111 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.92px;
  height: 43px;
}
.aspiradores-div6 {
  position: absolute;
  top: 7px;
  left: 121.85px;
  display: inline-block;
}
.aspiradores-div5 {
  position: absolute;
  top: 208px;
  left: -787.85px;
  width: 388.92px;
  height: 43px;
  text-align: left;
}
.vector-icon112 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.28px;
  height: 43px;
  opacity: 0.3;
}
.lixadeiras-div2 {
  position: absolute;
  top: 7px;
  left: 135.1px;
  display: inline-block;
  opacity: 0.5;
}
.aspiradores-div7 {
  position: absolute;
  top: 208px;
  left: -1172.1px;
  width: 388.28px;
  height: 43px;
}
.misturadores-div2 {
  position: absolute;
  top: 7px;
  left: 112.85px;
  display: inline-block;
  opacity: 0.5;
}
.aspiradores-div8,
.quadro-linha-21 {
  position: absolute;
  top: 208px;
  left: -396.85px;
  width: 388.92px;
  height: 43px;
}
.quadro-linha-21 {
  top: 294px;
  left: 1237px;
  width: 1231px;
  height: 279px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vector-icon114,
.vector-icon116,
.vector-icon117 {
  position: absolute;
  top: 0;
  left: 391px;
  width: 455px;
  height: 279px;
  object-fit: cover;
}
.vector-icon116,
.vector-icon117 {
  left: 782px;
}
.vector-icon117 {
  top: 663px;
  left: 0;
  width: 561px;
  display: none;
}
.vector-icon118 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.29px;
  height: 43px;
}
.compressor-div5 {
  position: absolute;
  top: 7px;
  left: 124.39px;
  display: inline-block;
}
.compressor-div4 {
  position: absolute;
  top: 209px;
  left: 398.61px;
  width: 388.29px;
  height: 43px;
  color: rgba(255, 255, 255, 0.5);
}
.vector-icon119 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.35px;
  height: 43px;
}
.fresadora-div1 {
  position: absolute;
  top: 7px;
  left: 132.45px;
  display: inline-block;
  opacity: 0.5;
}
.compressor-div6,
.vector-icon120 {
  position: absolute;
  top: 209px;
  left: 7.55px;
  width: 388.35px;
  height: 43px;
}
.vector-icon120 {
  top: 0;
  left: 0;
  width: 388.21px;
}
.desempenadeiras-div1 {
  position: absolute;
  top: 7px;
  left: 93.39px;
  display: inline-block;
  opacity: 0.5;
}
.compressor-div7,
.quadro-linha-31 {
  position: absolute;
  top: 209px;
  left: 789.61px;
  width: 388.21px;
  height: 43px;
}
.quadro-linha-31 {
  top: 588px;
  left: 0;
  width: 1237px;
  height: 279px;
}
.bicos-airless-div5 {
  position: absolute;
  top: 7px;
  left: 120.13px;
  display: inline-block;
}
.bicos-airless-div4,
.vector-icon126 {
  position: absolute;
  top: 207px;
  left: -788.13px;
  width: 388.92px;
  height: 43px;
}
.vector-icon126 {
  top: 377px;
  left: 881px;
  width: 455px;
  height: 279px;
  object-fit: cover;
  display: none;
}
.vector-icon127 {
  position: absolute;
  top: 207px;
  left: 57.87px;
  width: 388.92px;
  height: 43px;
}
.pistolas-airless-div1 {
  position: absolute;
  top: 214px;
  left: 166px;
  display: inline-block;
}
.bicos-airless-div6 {
  position: absolute;
  top: 0;
  left: -1237px;
  width: 1237px;
  height: 279px;
}
.filmes-de-mascaramento1 {
  position: absolute;
  top: 7px;
  left: 48.14px;
  display: inline-block;
}
.bicos-airless-div7,
.quadro-linha-41 {
  position: absolute;
  top: 207px;
  left: -397.14px;
  width: 388.92px;
  height: 43px;
}
.quadro-linha-41 {
  top: 882px;
  left: 1237px;
  width: 1237px;
  height: 279px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  color: rgba(255, 255, 255, 0.5);
}
.vector-icon131 {
  position: absolute;
  top: 1243px;
  left: 99px;
  width: 455px;
  height: 279px;
  object-fit: cover;
  display: none;
}
.vector-icon133 {
  position: absolute;
  top: 0;
  left: 0;
  width: 388.29px;
  height: 43px;
  opacity: 0.3;
}
.peas-div3 {
  position: absolute;
  top: 7px;
  left: 161.39px;
  display: inline-block;
  opacity: 0.5;
}
.peas-div2 {
  position: absolute;
  top: 209px;
  left: 400.61px;
  width: 388.29px;
  height: 43px;
}
.acessrios-div1 {
  position: absolute;
  top: 7px;
  left: 127.45px;
  display: inline-block;
  opacity: 0.5;
}
.peas-div5 {
  position: absolute;
  top: 209px;
  left: 789.55px;
  width: 388.27px;
  height: 43px;
}
.group-div27,
.quadro-linha-51 {
  position: absolute;
  top: 1176px;
  left: 0;
  width: 1237px;
  height: 279px;
}
.group-div27 {
  top: 75px;
  left: 99px;
  height: 1455px;
  text-align: center;
  font-size: 36px;
  font-family: "Bebas Neue";
}
.bg-header40 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header41,
.bg-header42 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header41 {
  height: 1px;
  display: none;
}
.bg-header42 {
  height: 73px;
}
.logo-nauber-113,
.nauber-logo-1-icon13 {
  position: absolute;
  width: 170px;
  object-fit: cover;
}
.nauber-logo-1-icon13 {
  top: 22px;
  left: 135px;
  height: 33px;
  display: none;
}
.logo-nauber-113 {
  top: 0;
  left: 0;
  height: 47.02px;
}
.logo-div13,
.vector-icon136 {
  position: absolute;
  top: 14px;
  left: 135px;
  width: 170px;
  height: 47.02px;
}
.vector-icon136 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon13,
.flag-brasil-1-icon13,
.flag-espanha-1-icon13,
.flag-eua-1-icon13 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon13,
.flag-espanha-1-icon13,
.flag-eua-1-icon13 {
  left: 31.36px;
}
.flag-arabia-1-icon13,
.flag-eua-1-icon13 {
  left: 66.72px;
}
.flag-arabia-1-icon13 {
  left: 102.08px;
}
.flags-div13,
.line-div34 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div34 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-113,
.logo-revenda-pro-113 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-113 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema27 {
  font-weight: 500;
}
.nauber-pro15 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n13 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  display: inline-block;
}
.home-b13,
.vector-icon137 {
  position: absolute;
  top: 99.5px;
  left: 778px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b13 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b13,
.empresa-icon13,
.home-div14 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b13,
.empresa-icon13 {
  top: 0;
  width: 20px;
}
.empresa-b13 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div13 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.produtos-b13 {
  top: 0;
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon13,
.produtos-b13,
.produtos-div43 {
  position: absolute;
  height: 17px;
}
.box-icon13 {
  top: 0;
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.produtos-div43 {
  top: 7px;
  left: 280px;
  width: 85.63px;
  color: #fae013;
}
.assistncias-b14 {
  position: absolute;
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
  height: 17px;
}
.assistencia-div13 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b14 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div15,
.contato-b14 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
}
.contato-b14 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div14,
.login-b13 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
}
.login-b13 {
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.login-div13,
.menu-div14 {
  position: absolute;
  top: 0;
  left: 972px;
  width: 80px;
  height: 24px;
}
.menu-div14 {
  top: 90px;
  left: 205px;
  width: 1052px;
  height: 25px;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.rectangle-div298 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon12 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div13,
.seach-div13 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div13 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 7.59px;
  color: #000;
}
.busque-aqui-seu-produto6 {
  position: absolute;
  top: 29px;
  left: 421px;
  color: #7a7a7a;
  display: inline-block;
}
.categorias-2-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2054px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
}
