.bg-div5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon14 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais4 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito4 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos4,
.politicas-de-privacidade-ter4 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos4 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon4 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista4,
.envie-um-e-mail4,
.ficou-com-dvidas4,
.voltar-ao-incio4 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail4,
.ficou-com-dvidas4,
.voltar-ao-incio4 {
  top: 57.14%;
}
.ficou-com-dvidas4,
.voltar-ao-incio4 {
  top: 83.81%;
}
.ficou-com-dvidas4 {
  top: 0;
  color: #fff;
}
.dvidas-div4 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div4,
.linha-industrial-div5 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div5 {
  top: 77.92%;
}
.produtos-div13 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.div23,
.div24,
.div25,
.nossa-sede-div9,
.rua-mal-castelo-branco-24775 {
  position: absolute;
  top: 23.88%;
  left: 0.9%;
  font-weight: 500;
  display: inline-block;
}
.div23,
.div24,
.div25,
.nossa-sede-div9 {
  top: 52.99%;
}
.div24,
.div25,
.nossa-sede-div9 {
  top: 70.9%;
  left: 0;
}
.div25,
.nossa-sede-div9 {
  top: 88.81%;
}
.nossa-sede-div9 {
  top: 0;
  left: 0.9%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div8 {
  position: absolute;
  height: 26.33%;
  width: 15.49%;
  top: 11.98%;
  right: 57.22%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon5 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div9 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon4 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div86 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div8 {
  position: absolute;
  top: 2780px;
  left: 0;
  width: 1440px;
  height: 509px;
  font-size: 12px;
  font-family: Inter;
}
.bg-header13 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header14,
.bg-header15 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header14 {
  height: 1px;
  display: none;
}
.bg-header15 {
  height: 73px;
}
.nauber-logo-1-icon4 {
  position: absolute;
  top: 22px;
  left: 135px;
  width: 170px;
  height: 33px;
  object-fit: cover;
  display: none;
}
.logo-div4,
.logo-nauber-14 {
  position: absolute;
  width: 170px;
  height: 47.02px;
}
.logo-nauber-14 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.logo-div4 {
  top: 14px;
  left: 135px;
}
.home-b4,
.vector-icon27 {
  position: absolute;
  top: 100.5px;
  left: 777px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b4 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b4,
.empresa-icon4,
.home-div5 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b4,
.empresa-icon4 {
  top: 0;
  width: 20px;
}
.empresa-b4 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div4 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.produtos-b4 {
  top: 0;
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon4,
.produtos-b4,
.produtos-div15 {
  position: absolute;
  height: 17px;
}
.box-icon4 {
  top: 0;
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.produtos-div15 {
  top: 7px;
  left: 280px;
  width: 85.63px;
  color: #fae013;
}
.assistncias-b5 {
  position: absolute;
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
  height: 17px;
}
.assistencia-div4 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b5 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div6,
.contato-b5 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
}
.contato-b5 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div5,
.login-b4 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
}
.login-b4 {
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon4,
.login-div4 {
  position: absolute;
  top: 0;
  height: 24px;
}
.logim-icon4 {
  left: 0;
  width: 24px;
  overflow: hidden;
}
.login-div4 {
  left: 972px;
  width: 80px;
}
.menu-div4,
.vector-icon28 {
  position: absolute;
  top: 91px;
  left: 204px;
  width: 1052px;
  height: 25px;
}
.vector-icon28 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon4,
.flag-brasil-1-icon4,
.flag-espanha-1-icon4,
.flag-eua-1-icon4 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon4,
.flag-espanha-1-icon4,
.flag-eua-1-icon4 {
  left: 31.36px;
}
.flag-arabia-1-icon4,
.flag-eua-1-icon4 {
  left: 66.72px;
}
.flag-arabia-1-icon4 {
  left: 102.08px;
}
.flags-div4,
.line-div10 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div10 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-14,
.logo-revenda-pro-14 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-14 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema9 {
  font-weight: 500;
}
.nauber-pro5 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n4 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  color: #000;
  display: inline-block;
  font-size: 7.59px;
  font-family: Inter;
}
.rectangle-div87 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon3 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div4,
.seach-div4 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div4 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 18px;
}
.vector-icon29 {
  position: absolute;
  top: 233px;
  left: -2px;
  width: 1443px;
  height: 898px;
  display: none;
}
.aspiradores-b,
.lixadeiras-b,
.misturadores-b,
.mquinas-para-pintura {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 78%;
  display: inline-block;
}
.aspiradores-b,
.lixadeiras-b,
.misturadores-b {
  top: 50px;
}
.aspiradores-b,
.misturadores-b {
  top: 100px;
}
.misturadores-b {
  top: 150px;
}
.acessrios-b,
.fresadora-de-parede4,
.lixas-e-abrasivos,
.peas-b {
  position: absolute;
  top: 200px;
  left: 0;
  line-height: 78%;
  display: inline-block;
}
.acessrios-b,
.lixas-e-abrasivos,
.peas-b {
  top: 250px;
}
.acessrios-b,
.peas-b {
  top: 300px;
}
.acessrios-b {
  top: 350px;
}
.seta-icon9,
.texto-div {
  position: absolute;
  top: 7px;
  left: 17px;
  width: 218px;
  height: 372px;
}
.seta-icon9 {
  top: 0;
  left: 0;
  width: 15.5px;
  height: 376px;
}
.group-div3,
.rectangle-div88 {
  position: absolute;
  display: none;
}
.group-div3 {
  top: 346px;
  left: 1036px;
  width: 235px;
  height: 379px;
  font-size: 28.64px;
}
.rectangle-div88 {
  top: 48.07px;
  left: -123.81px;
  border-radius: 23.74px 23.74px 0 0;
  background-color: #fff;
  box-shadow: 0 3.957205295562744px 19.79px rgba(0, 0, 0, 0.2);
  width: 316.75px;
  height: 370.24px;
}
.rectangle-div89 {
  top: 432.72px;
  left: -123.81px;
  border-radius: 0 0 43.53px 43.53px;
  background: linear-gradient(180deg, #078c14, #165032);
  width: 316.58px;
  height: 111.59px;
  display: none;
}
.d-30x-b,
.icon1,
.rectangle-div89 {
  position: absolute;
}
.icon1 {
  top: 0;
  left: 0;
  width: 275.96px;
  height: 351px;
  object-fit: cover;
}
.d-30x-b {
  top: 466.28px;
  left: -39.08px;
  line-height: 78%;
  display: none;
  width: 141.49px;
  height: 45px;
}
.linha-1-div1,
.produto-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 275.96px;
  height: 351px;
}
.linha-1-div1 {
  top: 295px;
  left: 409.52px;
  text-align: center;
  font-size: 67.69px;
}
.rectangle-div90 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0 20px 0;
  background: linear-gradient(180deg, #0b592d, #0a891b), #fff;
  width: 469px;
  height: 61px;
}
.mquinas-para-pintura-d-30x {
  position: absolute;
  top: 15px;
  left: 3px;
  display: inline-block;
  width: 463px;
  height: 32px;
}
.encontre-um-revendedor {
  position: absolute;
  top: 261px;
  left: 836px;
  width: 469px;
  height: 61px;
  text-align: center;
  font-size: 38px;
}
.vector-icon30,
.vector-icon31 {
  position: absolute;
  top: 22px;
  left: 4px;
  width: 1444px;
  height: 12px;
}
.vector-icon31 {
  top: 0;
  width: 536px;
  height: 63px;
}
.mquinas-para-pintura1 {
  position: absolute;
  top: 12px;
  left: 138px;
  display: inline-block;
}
.mquinas-div {
  position: absolute;
  top: 148px;
  left: -4px;
  width: 1444px;
  height: 63px;
  font-size: 47.04px;
}
.rectangle-div91 {
  position: absolute;
  top: 0;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div91,
.rectangle-div92,
.rectangle-div93 {
  left: 0;
  background-color: #d9d9d9;
  width: 120px;
  height: 80px;
}
.rectangle-div92 {
  position: absolute;
  top: 90px;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div93 {
  top: 180px;
}
.rectangle-div93,
.rectangle-div94,
.rectangle-div95 {
  position: absolute;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div94 {
  top: 270px;
  left: 0;
  background-color: #d9d9d9;
  width: 120px;
  height: 80px;
}
.rectangle-div95 {
  top: 0;
  left: 170px;
  width: 473px;
  height: 350px;
}
.group-div4,
.rectangle-div96 {
  position: absolute;
  top: 285px;
  left: 135px;
  width: 643px;
  height: 350px;
}
.rectangle-div96 {
  top: 0;
  left: 0;
  border-radius: 22.33px;
  background-color: #d9d9d9;
  width: 670px;
  height: 300.38px;
}
.play-icon {
  position: absolute;
  top: 83px;
  left: 268px;
  width: 134px;
  height: 134px;
  overflow: hidden;
}
.apresentao-tcnica- {
  margin-block-start: 0;
  margin-block-end: 0;
}
.sopro-e-aspirao {
  margin: 0;
}
.apresentao-tcnica-turbina {
  position: absolute;
  top: 349px;
  left: 45px;
  line-height: 103%;
  display: inline-block;
}
.downloads-b,
.video-div {
  position: absolute;
  color: #0b5f2b;
}
.video-div {
  top: 681px;
  left: 135px;
  width: 670px;
  height: 451px;
  font-size: 50px;
}
.downloads-b {
  top: 0;
  left: 0;
  font-size: 27.94px;
  line-height: 78%;
  display: inline-block;
  text-align: left;
}
.ellipse-icon1 {
  position: absolute;
  top: 6.44px;
  left: 0;
  width: 112.28px;
  height: 112.28px;
}
.manual-de-instrues {
  position: absolute;
  top: 129.45px;
  left: 3.3px;
  display: inline-block;
}
.flag-brasil-2-icon1,
.manual-1-icon {
  position: absolute;
  top: 25.94px;
  left: 0;
  width: 112.7px;
  height: 98.52px;
  object-fit: cover;
}
.flag-brasil-2-icon1 {
  top: 0;
  left: 32.58px;
  width: 47.85px;
  height: 30.24px;
}
.manual-div {
  position: absolute;
  top: 74.82px;
  left: 0;
  width: 172.36px;
  height: 143.45px;
}
.fecha-tcnica-b {
  position: absolute;
  top: 129.45px;
  left: 23.6px;
  display: inline-block;
}
.fluentdocument-bullet-list-24-icon {
  position: absolute;
  top: 21.46px;
  left: 15.02px;
  width: 82.25px;
  height: 82.25px;
  overflow: hidden;
}
.flag-espanha-3-icon,
.flag-eua-3-icon {
  position: absolute;
  top: 25.81px;
  left: 126.12px;
  width: 51.45px;
  height: 32.52px;
  object-fit: cover;
}
.flag-eua-3-icon {
  top: 55.19px;
  left: 126.64px;
}
.fecha-tcnica-div {
  position: absolute;
  top: 74.82px;
  left: 228.86px;
  width: 172.36px;
  height: 143.45px;
}
.vista-explodida-b {
  position: absolute;
  top: 129.45px;
  left: 19.27px;
  display: inline-block;
}
.flag-espanha-3-icon1,
.flag-eua-3-icon1 {
  position: absolute;
  top: 1324.67px;
  left: 724.57px;
  width: 39.99px;
  height: 21.06px;
  object-fit: cover;
  display: none;
}
.flag-eua-3-icon1 {
  top: 1354.05px;
  left: 725.08px;
}
.downloads-div,
.fecha-tcnica-div1 {
  position: absolute;
  top: 74.82px;
  left: 457.72px;
  width: 112.28px;
  height: 143.45px;
}
.downloads-div {
  top: 1224.04px;
  left: 135px;
  width: 570px;
  height: 218.27px;
  text-align: center;
  font-size: 14.3px;
  color: #171717;
}
.rectangle-div97 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background: linear-gradient(193.84deg, #0a841d, #0b592e), #fff;
  width: 1170px;
  height: 416px;
}
.verificado-div1 {
  position: absolute;
  top: 122.19px;
  left: 900px;
  width: 10.81px;
  height: 7.84px;
  overflow: hidden;
}
.card-endereo-div1,
.rectangle-div98 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1170px;
  height: 416px;
}
.rectangle-div98 {
  border-radius: 6.59px;
  background-color: #fff;
  box-shadow: 0 4.283919811248779px 10.71px rgba(0, 0, 0, 0.15);
  width: 349.14px;
  height: 157px;
}
.compras-na-loja-retirada-na,
.div26 {
  position: absolute;
  top: 121.37px;
  left: 11.85px;
  display: inline-block;
  width: 280.43px;
}
.div26 {
  top: 84.04px;
}
.aberto-fecha-s-1800,
.localizao-rua-bla-bla-bla-9,
.nome-da-loja-aqui {
  position: absolute;
  top: 14.47px;
  left: 11.85px;
  display: inline-block;
  width: 289.08px;
}
.aberto-fecha-s-1800,
.localizao-rua-bla-bla-bla-9 {
  top: 44.66px;
}
.aberto-fecha-s-1800 {
  top: 64.28px;
  color: #0b7c1d;
}
.logo-revenda-pro-4 {
  position: absolute;
  top: 9.64px;
  left: 301.02px;
  width: 33.2px;
  height: 35.59px;
  object-fit: cover;
}
.phone-icon15,
.seta-icon10 {
  position: absolute;
  top: 53.8px;
  left: 305.32px;
  width: 24.15px;
  height: 23.55px;
}
.seta-icon10 {
  top: 86.74px;
}
.loja-div,
.loja-div1 {
  position: absolute;
  top: 31px;
  left: 27px;
  width: 349.14px;
  height: 157px;
}
.loja-div1 {
  top: 218px;
}
.compras-na-loja-retirada-na2,
.div28 {
  position: absolute;
  top: 121.37px;
  left: 12.85px;
  display: inline-block;
  width: 280.43px;
}
.div28 {
  top: 84.04px;
}
.aberto-fecha-s-18002,
.localizao-rua-bla-bla-bla-11,
.nome-da-loja-aqui2 {
  position: absolute;
  top: 14.47px;
  left: 12.85px;
  display: inline-block;
  width: 289.08px;
}
.aberto-fecha-s-18002,
.localizao-rua-bla-bla-bla-11 {
  top: 44.66px;
}
.aberto-fecha-s-18002 {
  top: 64.28px;
  color: #0b7c1d;
}
.phone-icon17,
.seta-icon12 {
  position: absolute;
  top: 53.8px;
  left: 306.32px;
  width: 24.15px;
  height: 23.55px;
}
.seta-icon12 {
  top: 86.74px;
}
.card-div,
.loja-div2,
.loja-div3,
.loja-div4,
.loja-div5 {
  position: absolute;
  top: 31px;
  left: 411px;
  width: 349.14px;
  height: 157px;
}
.card-div,
.loja-div3,
.loja-div4,
.loja-div5 {
  top: 218px;
}
.card-div,
.loja-div4,
.loja-div5 {
  top: 31px;
  left: 795px;
}
.card-div,
.loja-div5 {
  top: 218px;
}
.card-div {
  top: 1522px;
  left: 135px;
  width: 1170px;
  height: 416px;
  font-size: 13.45px;
  color: #666;
  font-family: Inter;
}
.rectangle-div104 {
  position: absolute;
  top: 8.65px;
  left: 0;
  border-radius: 12.36px;
  background: linear-gradient(196.47deg, #03850f, #107a49), #fff;
  box-shadow: 0 4.944915294647217px 4.94px rgba(0, 0, 0, 0.15);
  border-top: 1.2px solid #e5e5e5;
  border-right: 0 solid #e5e5e5;
  border-bottom: 0 solid #e5e5e5;
  border-left: 0 solid #e5e5e5;
  box-sizing: border-box;
  width: 276.92px;
  height: 509.33px;
}
.breve-descrio-sobre-o-produt,
.d-30x-b1 {
  position: absolute;
  left: 22.25px;
  display: inline-block;
}
.d-30x-b1 {
  top: 316.47px;
  line-height: 50.91px;
  font-family: Roboto;
  width: 103.84px;
  height: 40.8px;
}
.breve-descrio-sobre-o-produt {
  top: 374.58px;
  font-size: 14.83px;
  line-height: 22.76px;
  font-weight: 500;
}
.rectangle-div105 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.42px;
  background-color: #fff;
  box-shadow: 0 4.944915294647217px 17.31px rgba(0, 117, 33, 0.5);
  width: 165.65px;
  height: 37.09px;
}
.saiba-mais-div4 {
  position: absolute;
  top: 11.13px;
  left: 22.25px;
  letter-spacing: 0.2em;
  font-weight: 500;
  display: inline-block;
}
.boto-div6,
.seta-icon16 {
  position: absolute;
  top: 12.62px;
  left: 130.61px;
  width: 13.51px;
  height: 12.01px;
}
.boto-div6 {
  top: 447.51px;
  left: 34.61px;
  width: 165.65px;
  height: 37.09px;
  font-size: 12.36px;
  color: #0b7c1d;
}
.rectangle-div106 {
  position: absolute;
  top: 18.54px;
  left: 7.42px;
  border-radius: 12.36px;
  background-color: #fafafa;
  border-top: 1.2px solid #e5e5e5;
  border-right: 0 solid #e5e5e5;
  border-bottom: 0 solid #e5e5e5;
  border-left: 0 solid #e5e5e5;
  box-sizing: border-box;
  width: 260.84px;
  height: 269.5px;
}
.icon2 {
  position: absolute;
  top: 0;
  left: 35.85px;
  width: 203.98px;
  height: 305.93px;
  object-fit: cover;
}
.produto-1-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276.92px;
  height: 517.98px;
}
.linha-4-div,
.produto-2-div1,
.produto-3-div1,
.produto-4-div1 {
  position: absolute;
  top: 0;
  left: 296.69px;
  width: 276.92px;
  height: 517.98px;
}
.linha-4-div,
.produto-3-div1,
.produto-4-div1 {
  left: 593.39px;
}
.linha-4-div,
.produto-4-div1 {
  left: 890.08px;
}
.linha-4-div {
  top: 86px;
  left: 0;
  width: 1167px;
}
.produtos-relacionados-b {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  display: inline-block;
  background: linear-gradient(90deg, #03850f, #107a47), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rectangle-div116 {
  position: absolute;
  top: -29px;
  left: 2px;
  background-color: #007521;
  width: 16px;
  height: 16px;
  display: none;
}
.line-div11,
.line-icon1 {
  position: absolute;
  top: 36.5px;
  left: 0;
  width: 1170px;
  height: 3.5px;
}
.line-div11 {
  top: 37.75px;
  left: -1.25px;
  border-top: 2.5px solid #088e1c;
  box-sizing: border-box;
  width: 120.5px;
  height: 2.5px;
}
.group-div8,
.tpico-lanamento-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1170px;
  height: 40px;
  font-size: 28px;
  font-family: Roboto;
}
.group-div8 {
  top: 2038px;
  left: 138px;
  height: 603.98px;
  font-size: 49.77px;
  font-family: Inter;
}
.descrio-b,
.turbina-de-aspirao-multiuso {
  position: absolute;
  top: 29px;
  left: 0;
  line-height: 120%;
  display: inline-block;
}
.descrio-b {
  top: 0;
  left: 1px;
  font-size: 28.64px;
  line-height: 78%;
  font-family: Roboto;
  color: #0b5f2b;
  width: 109px;
}
.descrio-div {
  position: absolute;
  top: 349px;
  left: 835px;
  width: 414px;
  height: 131px;
  color: #171717;
  font-family: Inter;
}
.acompanha-saco-coletor-capac,
.caractersticas-b {
  position: absolute;
  top: 0;
  left: 1px;
  line-height: 78%;
  display: inline-block;
  width: 160px;
}
.acompanha-saco-coletor-capac {
  top: 29px;
  left: 0;
  font-size: 14px;
  line-height: 150%;
  font-family: Inter;
  color: #171717;
  width: 400px;
}
.caractersticas-div {
  position: absolute;
  top: 538px;
  left: 835px;
  width: 400px;
  height: 113px;
  font-size: 28.64px;
  color: #0b5f2b;
}
.construo-civil-e-industrial,
.indicaes-de-uso1 {
  position: absolute;
  top: 38px;
  left: 0;
  display: inline-block;
  width: 161.36px;
}
.indicaes-de-uso1 {
  top: 0;
  left: 1px;
  font-size: 30px;
  line-height: 78%;
  font-family: Roboto;
  color: #0b5f2b;
  width: 183px;
}
.indicaes-de-uso {
  position: absolute;
  top: 687px;
  left: 835px;
  width: 184px;
  height: 72px;
  color: #171717;
  font-family: Inter;
}
.dados-tcnicos-b,
.potncia-do-motor-750w-veloc {
  position: absolute;
  top: 38px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 400px;
}
.dados-tcnicos-b {
  top: 0;
  left: 1px;
  font-size: 30px;
  line-height: 78%;
  font-family: Roboto;
  color: #0b5f2b;
  width: 160px;
}
.indicaes-de-uso2 {
  position: absolute;
  top: 807px;
  left: 835px;
  width: 400px;
  height: 206px;
  color: #171717;
  font-family: Inter;
}
.produto-logistas {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  height: 3289px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
}
