.bg-div6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #171717;
}
.phone-icon21 {
  position: absolute;
  top: 128px;
  left: 369px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.siga-nas-redes-sociais5 {
  position: absolute;
  top: 50.29%;
  left: 9.24%;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}
.nauber-2022-todos-os-direito5 {
  position: absolute;
  top: 81.14%;
  left: 9.24%;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos5,
.politicas-de-privacidade-ter5 {
  position: absolute;
  width: 22.36%;
  top: 81.14%;
  left: 68.26%;
  text-align: right;
  display: inline-block;
}
.nauber-maquinas-e-equipamentos5 {
  width: 30.28%;
  top: 62.28%;
  left: 60.21%;
}
.redes-sociais-icon5 {
  position: absolute;
  height: 4.43%;
  width: 7.84%;
  top: 56.97%;
  right: 82.93%;
  bottom: 38.6%;
  left: 9.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.converse-com-um-especialista5,
.envie-um-e-mail5,
.ficou-com-dvidas5,
.voltar-ao-incio5 {
  position: absolute;
  top: 30.48%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.envie-um-e-mail5,
.ficou-com-dvidas5,
.voltar-ao-incio5 {
  top: 57.14%;
}
.ficou-com-dvidas5,
.voltar-ao-incio5 {
  top: 83.81%;
}
.ficou-com-dvidas5 {
  top: 0;
  color: #fff;
}
.dvidas-div5 {
  position: absolute;
  height: 20.63%;
  width: 14.24%;
  top: 12.38%;
  right: 34.79%;
  bottom: 66.99%;
  left: 50.97%;
  font-size: 14px;
  color: #8d8b8b;
}
.construo-civil-div5,
.linha-industrial-div6 {
  position: absolute;
  top: 41.56%;
  left: 0;
  font-weight: 500;
  display: inline-block;
}
.linha-industrial-div6 {
  top: 77.92%;
}
.produtos-div16 {
  position: absolute;
  height: 15.13%;
  width: 7.5%;
  top: 12.38%;
  right: 83.26%;
  bottom: 72.5%;
  left: 9.24%;
  font-size: 14px;
  color: #8d8b8b;
}
.rua-mal-castelo5 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.schroeder-sc5 {
  margin: 0;
}
.div32,
.div33,
.div34,
.nossa-sede-div11,
.rua-mal-castelo-branco-24776 {
  position: absolute;
  top: 23.88%;
  left: 0.9%;
  font-weight: 500;
  display: inline-block;
}
.div32,
.div33,
.div34,
.nossa-sede-div11 {
  top: 52.99%;
}
.div33,
.div34,
.nossa-sede-div11 {
  top: 70.9%;
  left: 0;
}
.div34,
.nossa-sede-div11 {
  top: 88.81%;
}
.nossa-sede-div11 {
  top: 0;
  left: 0.9%;
  font-size: 14px;
  color: #fff;
}
.nossa-sede-div10 {
  position: absolute;
  height: 26.33%;
  width: 15.49%;
  top: 11.98%;
  right: 57.22%;
  bottom: 61.69%;
  left: 27.29%;
  color: #8d8b8b;
}
.pin-icon6 {
  position: absolute;
  top: 102.5px;
  left: 378px;
  width: 11px;
  height: 11px;
  overflow: hidden;
}
.line-div12 {
  position: absolute;
  height: 0.2%;
  width: 81.32%;
  top: 71.41%;
  right: 9.48%;
  bottom: 28.39%;
  left: 9.2%;
  border-top: 1px solid #fff;
  box-sizing: border-box;
}
.logo-nauber-icon5 {
  position: absolute;
  height: 10.22%;
  width: 18.61%;
  top: 11.94%;
  right: 9.51%;
  bottom: 77.84%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div117 {
  position: absolute;
  height: 123.58%;
  width: 40.63%;
  top: -251.08%;
  right: 50%;
  bottom: 227.5%;
  left: 9.38%;
  background-color: #dedada;
  display: none;
}
.footer-div11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-div10 {
  position: absolute;
  top: 2214px;
  left: 0;
  width: 1440px;
  height: 509px;
  font-family: Inter;
}
.bg-header16 {
  position: absolute;
  top: 63px;
  left: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #068f13, #165032);
  width: 1336px;
  height: 70px;
}
.bg-header17,
.bg-header18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
}
.bg-header17 {
  height: 1px;
  display: none;
}
.bg-header18 {
  height: 73px;
}
.nauber-logo-1-icon5 {
  position: absolute;
  top: 22px;
  left: 135px;
  width: 170px;
  height: 33px;
  object-fit: cover;
  display: none;
}
.logo-div5,
.logo-nauber-15 {
  position: absolute;
  width: 170px;
  height: 47.02px;
}
.logo-nauber-15 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.logo-div5 {
  top: 14px;
  left: 135px;
}
.home-b5,
.vector-icon32 {
  position: absolute;
  top: 100.5px;
  left: 777px;
  width: 6px;
  height: 3px;
  display: none;
}
.home-b5 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.home-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.empresa-b5,
.empresa-icon5,
.home-div6 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 60px;
  height: 20px;
}
.empresa-b5,
.empresa-icon5 {
  top: 0;
  width: 20px;
}
.empresa-b5 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 53px;
  height: 17px;
}
.empresa-div5 {
  position: absolute;
  top: 4px;
  left: 130px;
  width: 80px;
  height: 20px;
}
.produtos-b5 {
  top: 0;
  left: 28.63px;
  display: inline-block;
  width: 57px;
}
.box-icon5,
.produtos-b5,
.produtos-div18 {
  position: absolute;
  height: 17px;
}
.box-icon5 {
  top: 0;
  left: 0;
  width: 21.25px;
  overflow: hidden;
}
.produtos-div18 {
  top: 7px;
  left: 280px;
  width: 85.63px;
  color: #fae013;
}
.assistncias-b6 {
  position: absolute;
  top: 2px;
  left: 29px;
  display: inline-block;
  width: 77px;
  height: 17px;
}
.assistencia-div5 {
  position: absolute;
  top: 5px;
  left: 436px;
  width: 106px;
  height: 20px;
}
.catlogos-virtuais-b6 {
  position: absolute;
  top: 2px;
  left: 26px;
  display: inline-block;
  width: 116px;
  height: 17px;
}
.catlogos-div7,
.contato-b6 {
  position: absolute;
  top: 5px;
  left: 612px;
  width: 142px;
  height: 20px;
}
.contato-b6 {
  top: 3px;
  left: 27px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.contato-div6,
.login-b5 {
  position: absolute;
  top: 4px;
  left: 824px;
  width: 78px;
  height: 20px;
}
.login-b5 {
  top: 7px;
  left: 29px;
  display: inline-block;
  width: 51px;
  height: 17px;
}
.logim-icon5,
.login-div5 {
  position: absolute;
  top: 0;
  height: 24px;
}
.logim-icon5 {
  left: 0;
  width: 24px;
  overflow: hidden;
}
.login-div5 {
  left: 972px;
  width: 80px;
}
.menu-div5,
.vector-icon33 {
  position: absolute;
  top: 91px;
  left: 204px;
  width: 1052px;
  height: 25px;
}
.vector-icon33 {
  top: 0.54px;
  left: 1172px;
  width: 117px;
  height: 74.21px;
}
.flag-arabia-1-icon5,
.flag-brasil-1-icon5,
.flag-espanha-1-icon5,
.flag-eua-1-icon5 {
  position: absolute;
  top: 30.46px;
  left: -4px;
  width: 35.92px;
  height: 22.7px;
  object-fit: cover;
}
.flag-arabia-1-icon5,
.flag-espanha-1-icon5,
.flag-eua-1-icon5 {
  left: 31.36px;
}
.flag-arabia-1-icon5,
.flag-eua-1-icon5 {
  left: 66.72px;
}
.flag-arabia-1-icon5 {
  left: 102.08px;
}
.flags-div5,
.line-div13 {
  position: absolute;
  top: 0.54px;
  left: 1164px;
  width: 134px;
  height: 74.21px;
}
.line-div13 {
  top: 27.5px;
  left: 1143.5px;
  border-right: 1px solid #8a8a8a;
  box-sizing: border-box;
  width: 1px;
  height: 21px;
}
.base-de-conhecimento-15,
.logo-revenda-pro-15 {
  position: absolute;
  top: 16px;
  left: 961px;
  width: 159px;
  height: 43.08px;
  object-fit: cover;
}
.logo-revenda-pro-15 {
  left: 809.94px;
  width: 40.12px;
  height: 43px;
}
.conhea-o-sistema11 {
  font-weight: 500;
}
.nauber-pro6 {
  margin: 0;
  font-size: 10.63px;
}
.conhea-o-sistema-de-revnda-n5 {
  position: absolute;
  top: 19px;
  left: 857px;
  line-height: 9.5px;
  color: #000;
  display: inline-block;
  font-size: 7.59px;
  font-family: Inter;
}
.rectangle-div118 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 38px;
  background-color: #ebebeb;
  width: 373px;
  height: 38px;
}
.frame-icon4 {
  position: absolute;
  top: 12px;
  left: 328.7px;
  width: 14.67px;
  height: 15px;
}
.header-div5,
.seach-div5 {
  position: absolute;
  top: 18px;
  left: 405px;
  width: 373px;
  height: 38px;
}
.header-div5 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 133px;
  font-size: 18px;
}
.vector-icon34 {
  position: absolute;
  top: 233px;
  left: -2px;
  width: 1443px;
  height: 898px;
  display: none;
}
.aspiradores-b1,
.lixadeiras-b1,
.misturadores-b1,
.mquinas-para-pintura2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 78%;
  display: inline-block;
}
.aspiradores-b1,
.lixadeiras-b1,
.misturadores-b1 {
  top: 50px;
}
.aspiradores-b1,
.misturadores-b1 {
  top: 100px;
}
.misturadores-b1 {
  top: 150px;
}
.acessrios-b1,
.fresadora-de-parede5,
.lixas-e-abrasivos1,
.peas-b1 {
  position: absolute;
  top: 200px;
  left: 0;
  line-height: 78%;
  display: inline-block;
}
.acessrios-b1,
.lixas-e-abrasivos1,
.peas-b1 {
  top: 250px;
}
.acessrios-b1,
.peas-b1 {
  top: 300px;
}
.acessrios-b1 {
  top: 350px;
}
.texto-div1 {
  position: absolute;
  top: 7px;
  left: 17px;
  width: 218px;
  height: 372px;
}
.group-div9,
.seta-icon20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 15.5px;
  height: 376px;
}
.group-div9 {
  top: 346px;
  left: 1036px;
  width: 235px;
  height: 379px;
  display: none;
  font-size: 28.64px;
}
.rectangle-div119,
.rectangle-div120 {
  position: absolute;
  left: -123.81px;
  display: none;
}
.rectangle-div119 {
  top: 48.07px;
  border-radius: 23.74px 23.74px 0 0;
  background-color: #fff;
  box-shadow: 0 3.957205295562744px 19.79px rgba(0, 0, 0, 0.2);
  width: 316.75px;
  height: 370.24px;
}
.rectangle-div120 {
  top: 432.72px;
  border-radius: 0 0 43.53px 43.53px;
  background: linear-gradient(180deg, #078c14, #165032);
  width: 316.58px;
  height: 111.59px;
}
.icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275.96px;
  height: 351px;
  object-fit: cover;
}
.d-30x-b5 {
  position: absolute;
  top: 466.28px;
  left: -39.08px;
  line-height: 78%;
  display: none;
  width: 141.49px;
  height: 45px;
}
.linha-1-div2,
.produto-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 275.96px;
  height: 351px;
}
.linha-1-div2 {
  top: 295px;
  left: 409.52px;
  text-align: center;
  font-size: 67.69px;
}
.rectangle-div121 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0 20px 0;
  background: linear-gradient(180deg, #0b592d, #0a891b), #fff;
  width: 469px;
  height: 61px;
}
.mquinas-para-pintura-d-30x1 {
  position: absolute;
  top: 15px;
  left: 3px;
  display: inline-block;
  width: 463px;
  height: 32px;
}
.encontre-um-revendedor1 {
  position: absolute;
  top: 261px;
  left: 836px;
  width: 469px;
  height: 61px;
  text-align: center;
  font-size: 38px;
}
.vector-icon35,
.vector-icon36 {
  position: absolute;
  top: 22px;
  left: 4px;
  width: 1444px;
  height: 12px;
}
.vector-icon36 {
  top: 0;
  width: 536px;
  height: 63px;
}
.mquinas-para-pintura3 {
  position: absolute;
  top: 12px;
  left: 138px;
  display: inline-block;
}
.mquinas-div1 {
  position: absolute;
  top: 148px;
  left: -4px;
  width: 1444px;
  height: 63px;
  font-size: 47.04px;
}
.rectangle-div122 {
  position: absolute;
  top: 0;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div122,
.rectangle-div123,
.rectangle-div124 {
  left: 0;
  background-color: #d9d9d9;
  width: 120px;
  height: 80px;
}
.rectangle-div123 {
  position: absolute;
  top: 90px;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div124 {
  top: 180px;
}
.rectangle-div124,
.rectangle-div125,
.rectangle-div126 {
  position: absolute;
  border-radius: 10px;
  border: 1px solid #c3c4c4;
  box-sizing: border-box;
}
.rectangle-div125 {
  top: 270px;
  left: 0;
  background-color: #d9d9d9;
  width: 120px;
  height: 80px;
}
.rectangle-div126 {
  top: 0;
  left: 170px;
  width: 473px;
  height: 350px;
}
.group-div10 {
  position: absolute;
  top: 285px;
  left: 135px;
  width: 643px;
  height: 350px;
}
.rectangle-div127 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 22.33px;
  background-color: #d9d9d9;
  width: 670px;
  height: 300.38px;
}
.play-icon1 {
  position: absolute;
  top: 83px;
  left: 268px;
  width: 134px;
  height: 134px;
  overflow: hidden;
}
.apresentao-tcnica-turbina1 {
  position: absolute;
  top: 349px;
  left: 45px;
  line-height: 103%;
  display: inline-block;
}
.downloads-b1,
.video-div1 {
  position: absolute;
  color: #0b5f2b;
}
.video-div1 {
  top: 681px;
  left: 135px;
  width: 670px;
  height: 451px;
  font-size: 50px;
}
.downloads-b1 {
  top: 0;
  left: 0;
  font-size: 27.94px;
  line-height: 78%;
  display: inline-block;
  text-align: left;
}
.ellipse-icon4 {
  position: absolute;
  top: 6.44px;
  left: 0;
  width: 112.28px;
  height: 112.28px;
}
.manual-de-instrues1 {
  position: absolute;
  top: 129.45px;
  left: 3.3px;
  display: inline-block;
}
.flag-brasil-2-icon4,
.manual-1-icon1 {
  position: absolute;
  top: 25.94px;
  left: 0;
  width: 112.7px;
  height: 98.52px;
  object-fit: cover;
}
.flag-brasil-2-icon4 {
  top: 0;
  left: 32.58px;
  width: 47.85px;
  height: 30.24px;
}
.flag-espanha-2-icon2,
.flag-eua-2-icon2 {
  position: absolute;
  top: 25.81px;
  left: 126.12px;
  width: 51.45px;
  height: 32.52px;
  object-fit: cover;
}
.flag-eua-2-icon2 {
  top: 55.19px;
  left: 126.64px;
}
.manual-div1 {
  position: absolute;
  top: 74.82px;
  left: 0;
  width: 172.36px;
  height: 143.45px;
}
.fecha-tcnica-b1 {
  position: absolute;
  top: 129.45px;
  left: 23.6px;
  display: inline-block;
}
.fluentdocument-bullet-list-24-icon2 {
  position: absolute;
  top: 21.46px;
  left: 15.02px;
  width: 82.25px;
  height: 82.25px;
  overflow: hidden;
}
.fecha-tcnica-div2 {
  position: absolute;
  top: 74.82px;
  left: 228.86px;
  width: 172.36px;
  height: 143.45px;
}
.vista-explodida-b1 {
  position: absolute;
  top: 129.45px;
  left: 19.27px;
  display: inline-block;
}
.flag-espanha-3-icon3,
.flag-eua-3-icon3 {
  position: absolute;
  top: 1324.67px;
  left: 724.57px;
  width: 39.99px;
  height: 21.06px;
  object-fit: cover;
  display: none;
}
.flag-eua-3-icon3 {
  top: 1354.05px;
  left: 725.08px;
}
.downloads-div1,
.fecha-tcnica-div3 {
  position: absolute;
  top: 74.82px;
  left: 457.72px;
  width: 112.28px;
  height: 143.45px;
}
.downloads-div1 {
  top: 1224.04px;
  left: 135px;
  width: 570px;
  height: 218.27px;
  text-align: center;
  font-size: 14.3px;
  color: #171717;
}
.rectangle-div128 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.59px;
  background: linear-gradient(193.84deg, #0a841d, #0b592e), #fff;
  width: 370px;
  height: 1130px;
}
.concordo-em-compartilhar-a-min1 {
  position: absolute;
  top: 321.49px;
  left: 17.57px;
  font-size: 10.11px;
  display: inline-block;
  width: 307.42px;
}
.localize-o-revendedor-mais-pr,
.ou-div2,
.ou-div3 {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 324.99px;
}
.localize-o-revendedor-mais-pr {
  top: 0;
  font-size: 21.99px;
  font-family: Roboto;
}
.ou-div2,
.ou-div3 {
  top: 104.3px;
}
.ou-div3 {
  top: 192.14px;
}
.rectangle-div129,
.rectangle-div130 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.9px;
  background-color: #fff;
  width: 324.99px;
  height: 44.85px;
}
.rectangle-div130 {
  top: 87.83px;
}
.informe-a-sua-cidade1,
.informe-seu-cep1 {
  position: absolute;
  top: 13.18px;
  left: 17.57px;
  display: inline-block;
}
.informe-a-sua-cidade1 {
  top: 101.01px;
}
.virificar-endereo-div1 {
  position: absolute;
  top: 49.41px;
  left: 0;
  box-shadow: 0 4.391691207885742px 4.39px rgba(0, 0, 0, 0.25);
  width: 324.99px;
  height: 132.68px;
  text-align: left;
  font-size: 13.18px;
  color: #929292;
}
.rectangle-div131 {
  position: absolute;
  top: 242.64px;
  left: 98.81px;
  border-radius: 18.12px;
  background-color: #fff;
  width: 196.53px;
  height: 36.23px;
}
.ellipse-icon7 {
  position: absolute;
  top: 215.19px;
  left: 29.64px;
  width: 91.13px;
  height: 91.13px;
}
.global-1-1-icon1 {
  position: absolute;
  top: 226.17px;
  left: 40.62px;
  width: 70.27px;
  height: 70.27px;
  object-fit: cover;
}
.usar-minha-localizao1 {
  position: absolute;
  top: 252.52px;
  left: 127.36px;
  font-size: 13.18px;
  color: #929292;
  text-align: left;
  display: inline-block;
}
.rectangle-div132 {
  position: absolute;
  height: 41.67%;
  width: 50%;
  top: 29.17%;
  right: 25%;
  bottom: 29.17%;
  left: 25%;
  background-color: #fff;
}
.vector-icon37,
.verificado-div2 {
  position: absolute;
  overflow: hidden;
}
.vector-icon37 {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  max-height: 100%;
}
.verificado-div2 {
  top: 319.5px;
  left: 0;
  width: 17.57px;
  height: 17.57px;
}
.group-div11 {
  position: absolute;
  top: 52.7px;
  left: 23.06px;
  width: 324.99px;
  height: 337.06px;
  display: none;
  text-align: center;
  font-size: 15.37px;
  color: #fff;
}
.rectangle-div133 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.59px;
  background-color: #fff;
  box-shadow: 0 4.283919811248779px 10.71px rgba(0, 0, 0, 0.15);
  width: 349.14px;
  height: 157px;
}
.compras-na-loja-retirada-na6,
.div35 {
  position: absolute;
  top: 121.37px;
  left: 12.85px;
  display: inline-block;
  width: 280.43px;
}
.div35 {
  top: 84.04px;
}
.aberto-fecha-s-18006,
.localizao-rua-bla-bla-bla-15,
.nome-da-loja-aqui6 {
  position: absolute;
  top: 14.47px;
  left: 12.85px;
  display: inline-block;
  width: 289.08px;
}
.aberto-fecha-s-18006,
.localizao-rua-bla-bla-bla-15 {
  top: 44.66px;
}
.aberto-fecha-s-18006 {
  top: 64.28px;
  color: #0b7c1d;
}
.logo-revenda-pro-42 {
  position: absolute;
  top: 9.64px;
  left: 302.02px;
  width: 33.2px;
  height: 35.59px;
  object-fit: cover;
}
.phone-icon22,
.seta-icon21 {
  position: absolute;
  top: 53.8px;
  left: 306.32px;
  width: 24.15px;
  height: 23.55px;
}
.seta-icon21 {
  top: 86.74px;
}
.loja-div6,
.loja-div7 {
  position: absolute;
  top: 36.23px;
  left: 10.98px;
  width: 349.14px;
  height: 157px;
}
.loja-div7 {
  top: 211.9px;
}
.phone-icon24,
.seta-icon23 {
  position: absolute;
  top: 14.27px;
  left: 306.32px;
  width: 24.15px;
  height: 23.55px;
}
.seta-icon23 {
  top: 47.21px;
}
.loja-div10,
.loja-div11,
.loja-div8,
.loja-div9 {
  position: absolute;
  top: 387.57px;
  left: 10.98px;
  width: 349.14px;
  height: 157px;
}
.loja-div10,
.loja-div11,
.loja-div9 {
  top: 563.23px;
}
.loja-div10,
.loja-div11 {
  top: 738.9px;
}
.loja-div11 {
  top: 914.57px;
}
.card-endereo-div2,
.lojas-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 1130px;
}
.lojas-div {
  top: 342px;
  left: 835px;
  width: 371px;
  overflow: hidden;
  font-size: 13.45px;
  color: #666;
  font-family: Inter;
}
.rectangle-div139 {
  position: absolute;
  top: 8.65px;
  left: 0;
  border-radius: 12.36px;
  background: linear-gradient(196.47deg, #03850f, #107a49), #fff;
  box-shadow: 0 4.944915294647217px 4.94px rgba(0, 0, 0, 0.15);
  border-top: 1.2px solid #e5e5e5;
  border-right: 0 solid #e5e5e5;
  border-bottom: 0 solid #e5e5e5;
  border-left: 0 solid #e5e5e5;
  box-sizing: border-box;
  width: 276.92px;
  height: 509.33px;
}
.breve-descrio-sobre-o-produt4,
.d-30x-b6 {
  position: absolute;
  left: 22.25px;
  display: inline-block;
}
.d-30x-b6 {
  top: 316.47px;
  line-height: 50.91px;
  font-family: Roboto;
  width: 103.84px;
  height: 40.8px;
}
.breve-descrio-sobre-o-produt4 {
  top: 374.58px;
  font-size: 14.83px;
  line-height: 22.76px;
  font-weight: 500;
}
.rectangle-div140 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7.42px;
  background-color: #fff;
  box-shadow: 0 4.944915294647217px 17.31px rgba(0, 117, 33, 0.5);
  width: 165.65px;
  height: 37.09px;
}
.saiba-mais-div8 {
  position: absolute;
  top: 11.13px;
  left: 22.25px;
  letter-spacing: 0.2em;
  font-weight: 500;
  display: inline-block;
}
.boto-div10,
.seta-icon27 {
  position: absolute;
  top: 12.62px;
  left: 130.61px;
  width: 13.51px;
  height: 12.01px;
}
.boto-div10 {
  top: 447.51px;
  left: 34.61px;
  width: 165.65px;
  height: 37.09px;
  font-size: 12.36px;
  color: #0b7c1d;
}
.rectangle-div141 {
  position: absolute;
  top: 18.54px;
  left: 7.42px;
  border-radius: 12.36px;
  background-color: #fafafa;
  border-top: 1.2px solid #e5e5e5;
  border-right: 0 solid #e5e5e5;
  border-bottom: 0 solid #e5e5e5;
  border-left: 0 solid #e5e5e5;
  box-sizing: border-box;
  width: 260.84px;
  height: 269.5px;
}
.icon7 {
  position: absolute;
  top: 0;
  left: 35.85px;
  width: 203.98px;
  height: 305.93px;
  object-fit: cover;
}
.produto-1-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 276.92px;
  height: 517.98px;
}
.linha-5-div,
.produto-2-div2,
.produto-3-div2,
.produto-4-div2 {
  position: absolute;
  top: 0;
  left: 296.69px;
  width: 276.92px;
  height: 517.98px;
}
.linha-5-div,
.produto-3-div2,
.produto-4-div2 {
  left: 593.39px;
}
.linha-5-div,
.produto-4-div2 {
  left: 890.08px;
}
.linha-5-div {
  top: 1643px;
  left: 135px;
  width: 1167px;
  font-size: 49.77px;
  font-family: Inter;
}
.produtos-relacionados-b1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  display: inline-block;
  background: linear-gradient(90deg, #03850f, #107a47), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rectangle-div151 {
  position: absolute;
  top: -29px;
  left: 2px;
  background-color: #007521;
  width: 16px;
  height: 16px;
  display: none;
}
.line-div14,
.line-icon2 {
  position: absolute;
  top: 36.5px;
  left: 0;
  width: 1170px;
  height: 3.5px;
}
.line-div14 {
  top: 37.75px;
  left: -1.25px;
  border-top: 2.5px solid #088e1c;
  box-sizing: border-box;
  width: 120.5px;
  height: 2.5px;
}
.tpico-lanamento-div2 {
  position: absolute;
  top: 1557px;
  left: 135px;
  width: 1170px;
  height: 40px;
  font-size: 28px;
}
.produto-logistas1 {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  height: 2723px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Roboto;
}
